<aside class="sidebar-main">
    {{#if headerContext.isAuthorized}}
        {{{Sidebar}}}
    {{/if}}
</aside>
<header id="header">
    {{{Header headerContext}}}
</header>
<main id="main">
    <section id="pins" class="gallery">
    </section>
</main>
