.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 400px;
    grid-auto-flow: dense;
    max-width: 1500px;
    margin: 10px auto;
    padding: 0 50px;
}

.search-gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
    max-width: 1500px;
    margin: 10px auto;
    padding: 0 50px;
}

.gallery__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
    
.gallery__item > img {
    border-radius: 12px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
    
@media (max-width: 1500px) {
    .gallery {
        max-width: 1200px;
    }
}
    
@media (max-width: 1200px) {
    .gallery {
    max-width: 1000px;
    }
}
    
@media (max-width: 1000px) {
    .gallery {
    max-width: 800px;
    }
}
    
@media (max-width: 800px) {
    .gallery {
    max-width: 600px;
    }
}
    
@media (max-width: 600px) {
    .gallery {
    max-width: 400px;
    }
}
    
.gallery__item--hor {
    grid-column: span 2;
}
    
.gallery__item--vert {
    grid-row: span 2;
}
    
.gallery__item--lg {
    grid-column: span 2;
    grid-row: span 2;
}

.gallery img {
    transition: transform 0.3s ease;
}

.gallery__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;  
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.8s ease;
    pointer-events: none;
}

.gallery__item:hover::before {
    opacity: 1;
    pointer-events: auto;
}

.like-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.like-counter {
    height: 20px;
    color: aliceblue;
    text-align: center;
    opacity: 0;
}
    
.like-icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
}
    
.gallery__item:hover .like-button {
    opacity: 1;
    pointer-events: auto;
}