<li class="messenger__chat-menu__chat-item" data-section="messenger__chat-menu__chat-{{id}} messenger__chat-menu__chat-{{username}}">
    <img src="{{avatar}}" class="messenger__chat-menu__chat-avatar">
    <div class="messenger__chat-menu__chat-username">
        <span class="messenger__chat-menu__chat-username-span text-base1-medium">{{username}}</span>
    </div>
</li>
