.like-btn {
    cursor: pointer;
    width: 65px;
    height: 65px;
}

.like-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-primary {
    height: 30px;
    border-radius: var(--br-s, 10px);
    border: 2px solid var(--primary-45, #33A1B3);
    background: var(--bg-100, #FFF);
}