<li class="messenger__chat-menu__chat-item" data-section="messenger__chat-menu__chat-name">
    <img src="https://pinspire.online:8081/upload/avatars/default-avatar.png" class="messenger__chat-menu__chat-avatar">
    <div class="messenger__chat-menu__chat-username">
        <span class="messenger__chat-menu__chat-username-span text-base1-medium">Username</span>
    </div>
</li>