src/views/AddPins/AddPins.js
src/components/RenderBoards/renderBoards.js
src/components/Router/router.js
src/components/State/state.js
src/components/Validation/valid.js
src/utils/HeaderTitleProcessing/headerTitleProcessing.js
src/utils/api.js
src/utils/definePins/definePins.js
src/utils/defingeBoards/defineBoards.js
src/utils/sidebarItemsProcessing/sidebarItemsProcessing.js
src/views/Authorization/Authorization.js
src/views/BoardPage/BoardPage.js
src/views/CreateBoard/CreateBoard.js
src/views/CreatePin/CreatePin.js
src/views/Favourite/Favourite.js
src/views/Feed/Feed.js
src/views/HeaderDefault/HeaderDefault.js
src/views/HeaderGuest/HeaderGuest.js
src/views/Messenger/Messenger.js
src/views/NonContentNotification/NonContentNotification.js
src/views/Page404/Page404.js
src/views/PinPage/PinPage.js
src/views/ProfileData/ProfileData.js
src/views/ProfileSecurity/ProfileSecurity.js
src/views/ProfileUser/ProfileUser.js
src/views/Registration/Registration.js
src/views/Sidebar/Sidebar.js
src/views/Subscriptions/Subscriptions.js
src/views/Subscriptions/SubscriptionsUserItem.js
src/views/UserPage/UserPage.js