<div class="statistics">
  <span class="statistics__title text-h4-medium">Рекомендуют ли пользователи наше приложение</span>
  <div class="statistics__content">
    <div class="statistics__avg_mark">
      <span class="stistics__avg_mark__title text-h4-medium">Средняя оценка</span>
        <div class="statistics__avg_mark__content">
        <div class="statistics__avg_mark__mark">
          <span class="statistics__avg_mark__mark-span text-h4-medium">4.5</span>
        </div>
        <div class="statistics__avg_mark__mark-image">
          <img src="https://pinspire.online:8081/upload/avatars/default-avatar.png" class="statistics__avg_mark__mark-img">
        </div>
      </div>
    </div>
    <div class="statistics__offers">
      <div class="statistics__offers__title">
        <span class="statistics__offers__title-span text-h4-medium">Почему не рекомендуют</span>
      </div>
      <div class="statistics__offers__content">
        <div class="statistics__offers__content-item input-read-only">
          <textarea disabled class="statistics__offers__content-item-textarea text-base1-medium">Потому что</textarea>
        </div>
        <div class="statistics__offers__content-item input-read-only">
          <textarea disabled class="statistics__offers__content-item-textarea text-base1-medium">Потому что</textarea>
        </div>
        <div class="statistics__offers__content-item input-read-only">
          <textarea disabled class="statistics__offers__content-item-textarea text-base1-medium">Потому что</textarea>
        </div>
      </div>
    </div>
  </div>
</span>