/* Регулярные шрифты */
.text-h1-regular,
.text-h2-regular,
.text-h3-regular,
.text-h4-regular,
.text-base1-regular,
.text-base2-regular,
.text-base3-regular {
  font-family: Nunito;
  font-style: normal;
  line-height: normal;
}

.text-h1-regular {
  font-size: 60px;
  font-weight: 300;
}

.text-h2-regular {
  font-size: 48.83px;
  font-weight: 300;
}

.text-h3-regular {
  font-size: 39.06px;
  font-weight: 300;
}

.text-h4-regular {
  font-size: 31.25px;
  font-weight: 300;
}

.text-base1-regular {
  font-size: 25px;
  font-weight: 400;
}

.text-base2-regular {
  font-size: 16px;
  font-weight: 400;
}

.text-base3-regular {
  font-size: 12.8px;
  font-weight: 400;
}

/* Медиум-шрифты */
.text-h1-medium,
.text-h2-medium,
.text-h3-medium,
.text-h4-medium,
.text-base1-medium,
.text-base2-medium,
.text-base3-medium {
  font-family: Nunito;
  font-style: normal;
  line-height: normal;
}

.text-h1-medium {
  font-size: 60px;
  font-weight: 500;
}

.text-h2-medium {
  font-size: 48.8px;
  font-weight: 500;
}

.text-h3-medium {
  font-size: 39.06px;
  font-weight: 500;
}

.text-h4-medium {
  font-size: 32px;
  font-weight: 500;
}

.text-base1-medium {
  font-size: 25px;
  font-weight: 400;
}

.text-base2-medium {
  font-size: 16px;
  font-weight: 400;
}

.text-base3-medium {
  font-size: 12.8px;
  font-weight: 400;
}

/* Жирные шрифты */
.text-h1-bold,
.text-h2-bold,
.text-h3-bold,
.text-h4-bold,
.text-base1-bold,
.text-base2-bold,
.text-base3-bold {
  font-family: Nunito;
  font-style: normal;
  line-height: normal;
}

.text-h1-bold {
  font-size: 60px;
  font-weight: 700;
}

.text-h2-bold {
  font-size: 48.83px;
  font-weight: 700;
}

.text-h3-bold {
  font-size: 39px;
  font-weight: 700;
}

.text-h4-bold {
  font-size: 31px;
  font-weight: 700;
}

.text-base1-bold {
  font-size: 25px;
  font-weight: 700;
}

.text-base2-bold {
  font-size: 16px;
  font-weight: 700;
}

.text-base3-bold {
  font-size: 12.8px;
  font-weight: 700;
}

/* Мелкий шрифт */
.text-base1-small {
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
