.text-h1-regular {
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.text-h2-regular {
    font-family: Nunito;
    font-size: 48.83px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.text-h3-regular {
    font-family: Nunito;
    font-size: 39.06px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.text-h4-regular {
    font-family: Nunito;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.text-base1-regular {
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-base2-regular {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-base3-regular {
    font-family: Nunito;
    font-size: 12.8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-h1-medium {
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-h2-medium {
    font-family: Nunito;
    font-size: 48.8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-h3-medium {
    font-family: Nunito;
    font-size: 39.06px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-h4-medium {
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-base1-medium {
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-base2-medium {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-base3-medium {
    font-family: Nunito;
    font-size: 12.8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-h1-bold {
    font-family: Nunito;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-h2-bold {
    font-family: Nunito;
    font-size: 48.83px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-h3-bold {
    font-family: Nunito;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-h4-bold {
    font-family: Nunito;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-base1-bold {
    font-family: Nunito;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-base2-bold {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-base3-bold {
    font-family: Nunito;
    font-size: 12.8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-base1-small {
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
