<div class="header__notifications__menu_item" data-notification-id="{{id}}">
    <div class="header__notifications__menu_item-text text-base2-medium">
        {{content}}
    </div>      
    <img src="/assets/icons/actions/icon_delete.svg" class="header__notifications__menu_item-btn">
</div>