<div class="rectangle-create">
    <span class="title-create">Создание пина</span>
    <div>
        <input id="file-input" type="file" name="file" multiple>
    </div>
    <div class="input-title">
        <label for="title" class="labeled-input">Название</label>
        <input type="text" id="title" placeholder="Введите название пина">
    </div>
    <div class="input-description">
        <label for="description" class="labeled-input">Описание</label>
        <input type="text" id="description" placeholder="Введите описание пина">
    </div>
    <div class="buttons-container">
        <button class="pin-cancel-button">Отмена</button>
        <button class="pin-create-button">Создать</button>
    </div>
</div>
