<div class="rectangle-create">
    <span class="title-create">Создание пина</span>
    <hr class="grey-line">
    <div>
        <form class="profile__img__form js-profile__img__form" enctype="multipart/form-data" action="">
            <input name="object" accept="image/*" type="file" id="picture" accept=".jpg, .jpeg, .png, .webp, .gif">
        </form>
    </div>
    <div class="input-title">
        <label for="title" class="labeled-input">Название</label>
        <input type="text" id="title" placeholder="Введите название пина">
    </div>
    <div class="input-description">
        <label for="description" class="labeled-input">Описание</label>
        <input type="text" id="description" placeholder="Введите описание пина">
    </div>
    <hr class="grey-line">
    <div class="buttons-container">
        <button class="pin-cancel-button">Отмена</button>
        <button class="pin-create-button">Создать</button>
    </div>
</div>
