.gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    max-width: 1500px;
    margin: 10px auto;
    padding: 0 10px;
}
  
.gallery__item {
    align-items: center;
    display: flex;
    justify-content: center;
}
  
.gallery__item > img {
    border-radius: 12px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
  
@media (max-width: 1400px) {
    .gallery {
        max-width: 1200px;
    }
}
  
@media (max-width: 1200px) {
    .gallery {
        max-width: 1000px;
    }
}
  
@media (max-width: 1000px) {
    .gallery {
        max-width: 800px;
    }
}
  
@media (max-width: 800px) {
    .gallery {
        max-width: 600px;
    }
}
  
@media (max-width: 600px) {
    .gallery {
        max-width: 400px;
    }
}
  
.gallery__item--hor {
    grid-column: span 2;
}
  
.gallery__item--vert {
    grid-row: span 2;
}
  
.gallery__item--lg {
    grid-column: span 2;
    grid-row: span 2;
}

.gallery img:hover {
    transition: 0.3s;
    transform: scale(1.05);
    z-index: 1;
}
