main {
    padding-top: 90px;
    flex-grow: 1;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 80px;
    flex-shrink: 1;
    padding: 0 90px 0 40px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#FFFFFF;
    box-shadow: 0 1px 5px rgb(214, 217, 219);
    z-index: 2;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 102px;
    height: 74px;
}

.logo-text {
    display: flex;
    width: 200px;
    height: 46px;
    padding: 5px 8px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header-user {
    padding-right: 100px;
    display: flex;
    align-items: center;
    gap: 50px;
}
  
.header-user-data {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.header-username {
    color: #000;
    text-align: center;
    /* text base1 medium */
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-logout-button {
    font-family: Nunito;
    background-color: #226B77;
    color: #FFFFFF;
    width: 107px;
    height: 45px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-buttons {
    font-family: Nunito;
    padding-right: 95px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.header-login-button {
    font-family: Nunito;
    height: 45px;
    padding: 1px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    border-radius: var(--br-s, 10px);
    border: 2px solid var(--primary-30, #226B77);
    background: var(--bg-100, #FFF);

    color: var(--primary-30, #226B77);

    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-login-button:hover {
    background: rgba(34, 107, 119, 0.50);
}

.header-signup-button {
    font-family: Nunito;
    background-color: #226B77;
    color: #FFFFFF;
    width: 178px;
    height: 45px;
    padding: 1px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-signup-button:hover {
    background: rgba(34, 107, 119, 0.80);
}

.header-logout-button {
    font-family: Nunito;
    background-color: #226B77;
    color: #FFFFFF;
    width: 178px;
    height: 45px;
    padding: 1px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-logout-button:hover {
    background: rgba(34, 107, 119, 0.80);
}

.header-hidden {
    display: none;
}

.main-no-padding {
    padding-top: 0;
}