main {
    padding-top: 90px;
    flex-grow: 1;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 80px;
    flex-shrink: 1;
    padding: 0 90px 0 40px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#FFFFFF;
    box-shadow: 0 1px 5px rgb(214, 217, 219);
    z-index: 2;
}

.header-left {
    display: flex;
    gap: 50px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 102px;
    height: 74px;
}

.logo-text {
    display: flex;
    width: 200px;
    height: 46px;
    padding: 5px 8px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header-user {
    padding-right: 100px;
    display: flex;
    align-items: center;
    gap: 50px;
}
  
.header-user-data {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.header-username {
    color: #000;
    text-align: center;
    /* text base1 medium */
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-logout-button {
    font-family: Nunito;
    background-color: #226B77;
    color: #FFFFFF;
    width: 107px;
    height: 45px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-buttons {
    font-family: Nunito;
    padding-right: 95px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.header-login-button {
    font-family: Nunito;
    height: 45px;
    padding: 1px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    border-radius: var(--br-s, 10px);
    border: 2px solid var(--primary-30, #226B77);
    background: var(--bg-100, #FFF);

    color: var(--primary-30, #226B77);

    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-login-button:hover {
    background: rgba(34, 107, 119, 0.50);
}

.header-signup-button {
    font-family: Nunito;
    background-color: #226B77;
    color: #FFFFFF;
    width: 178px;
    height: 45px;
    padding: 1px 20px 1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-signup-button:hover {
    background: rgba(34, 107, 119, 0.80);
}

.header-logout-button {
    font-family: Nunito;
    background-color: #226B77;
    color: #FFFFFF;
    width: 178px;
    height: 45px;
    padding: 1px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-logout-button:hover {
    background: rgba(34, 107, 119, 0.80);
}

.header-hidden {
    display: none;
}

.main-no-padding {
    padding-top: 0;
}


nav {
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translateY(0px);
    height: 120px;
    width: 300px;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    border-radius: 0% 0% 80% 50%;
}

nav.nav-open {
    border-radius: 0% 0% 20px 20px;
}

nav.nav-open::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: transparent;
}

nav.nav-open::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(55, 55, 55, 0.6);
}

nav .menu-btn {
    position: absolute;
    top: 20%;
    left: 5%;
    padding: 0;
    width: 30px;
    cursor: pointer;
    z-index: 2;
}

nav .menu-btn .line {
    padding: 0;
    width: 30px;
    background: #000;
    height: 3px;
    margin: 5px 0;
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

nav .menu-btn .line.line--1 {
    width: 30px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--1.line-cross {
    width: 30px;
    transform: rotate(47deg) translateY(11px);
	 background: rgba(0,0,0,0.6);
}

nav .menu-btn .line.line--2 {
    width: 30px;
    transform: translateX(0);
}

nav .menu-btn .line.line--2.line-fade-out {
    width: 28px;
    transform: translate(30px);
    opacity: 0;
}

nav .menu-btn .line.line--3 {
    width: 30px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--3.line-cross {
    width: 30px;
    transform: rotate(-45deg) translateY(-11px);
	 background: rgba(0,0,0,0.6);
}

nav .nav-links {
    position: absolute;
    left: 0;
    top: 5%;
    display: flex;
    padding-left: 70px;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    transform: translateY(-1000px);
    opacity: 0;
    transition: all 900ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

nav .nav-links .link {
    margin: 20px 0;
    text-decoration: none;
    font-family: sans-serif;
    color: rgba(0,0,0,0.9);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all 300ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links .link:hover {
    color: rgba(0, 0, 0, .5);
}
