<div class="rectangle-create" id="pin-rectangle">
    <span class="title-create">Добавление пинов</span>
    <hr class="grey-line">
    <div class="forms">
        <section id="pins-on-board" class="gallery"></section>
    </div>
    <hr class="grey-line">
    <div class="buttons-container">
        <button class="pin-back-button">Назад</button>
        <button class="pin-add-button">Добавить</button>
    </div>
</div>
