.title-add {
    margin: 10px 15px 0px;
    font-family: Nunito;
    font-size: 25px;
    text-align: left;
}  

.pin-back-button {
    font-family: Nunito;
    font-size: 25px;
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid var(--primary-30, #226B77);
    background-color: white;
    color: #226B77;
    border-radius: 15px;
    cursor: pointer;
    width: 160px;
}

.pin-add-button {
    font-family: Nunito;
    font-size: 25px;
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid var(--primary-30, #226B77);
    background-color: #226B77;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    width: 160px;
}

.pin-add-button:hover,
.pin-back-button:hover {
    color: white;
    background-color: #3D99A6;
}

.rectangle-add {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 1px 20px;
    display: flex;
    justify-content: center;
    max-width: 900px;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 10px 8px 4px rgba(0, 0, 0, 0.2);
}

.buttons-container-add {
    display: flex;
    padding: 0px 0px 20px 0px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
 
.int__gallery__item > img {
    border-radius: 12px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.int__gallery__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.int__gallery__item--hor {
    grid-column: span 2;
}
    
.int__gallery__item--vert {
    grid-row: span 2;
}
    
.int__gallery__item--lg {
    grid-column: span 2;
    grid-row: span 2;
}

.int__gallery img {
    transition: transform 0.3s ease;
}

.int__gallery__item:hover .like-button {
    opacity: 1;
    pointer-events: auto;
}

.int__gallery__item:hover::before {
    opacity: 1;
    pointer-events: auto;
}

.int__gallery__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;  
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.8s ease;
    pointer-events: none;
}

.int__gallery__item.selected::before {
    border: 2px solid #4CAF50;
}

.int__gallery__item.selected:hover::before {
    opacity: 0.7;
}