<div class="rectangle-add" id="pin-rectangle">
    <span class="title-add">Подобрали несколько интересных пинов для вас:</span>
    <hr class="grey-line">
    <div class="forms">
        <section id="pins" class="gallery"></section>
    </div>
    <hr class="grey-line">
    <div class="buttons-container-add">
        <button class="pin-back-button">Назад</button>
        <button class="pin-add-button">Добавить</button>
    </div>
</div>
