<div class="messenger-page">
    <div class="messenger">
        <div class="messenger__chat-menu">
            <div class="messenger__search">
                <div class="messenger__search__text">
                    <input type="text" placeholder="Найти пользователя" class="messenger__search__text-input text-base2-medium">
                </div>
            </div>
            <img src="" class="messenger__chat-menu__no-content-img">
            <span class="messenger__search__no-content"></span>
            <nav class="messenger__chat-menu__chats">
                <ul class="messenger__chat-menu__chat-list">
                    <li class="messenger__chat-menu__chat-item messenger__chat-menu__chat-item-active" data-section="messenger__chat-menu__chat-name">
                        <img src="https://pinspire.online:8081/upload/avatars/default-avatar.png" class="messenger__chat-menu__chat-avatar">
                        <div class="messenger__chat-menu__chat-username">
                            <span class="messenger__chat-menu__chat-username-span text-base1-medium">Username</span>
                        </div>
                        <img src="https://pinspire.online:8081/upload/avatars/default-avatar.png" class="hide messenger__chat-menu__chat__unread-img">
                    </li>
                    
                    <li class="messenger__chat-menu__chat-item" data-section="messenger__chat-menu__chat-name">
                        <img src="https://pinspire.online:8081/upload/avatars/default-avatar.png" class="messenger__chat-menu__chat-avatar">
                        <div class="messenger__chat-menu__chat-username">
                            <span class="messenger__chat-menu__chat-username-span text-base1-medium">Username</span>
                        </div>
                    </li>
                    
                    <li class="messenger__chat-menu__chat-item" data-section="messenger__chat-menu__chat-name">
                        <img src="https://pinspire.online:8081/upload/avatars/default-avatar.png" class="messenger__chat-menu__chat-avatar">
                        <div class="messenger__chat-menu__chat-username">
                            <span class="messenger__chat-menu__chat-username-span text-base1-medium">Username</span>
                        </div>
                    </li>
                    
                    <li class="messenger__chat-menu__chat-item" data-section="messenger__chat-menu__chat-name">
                        <img src="https://pinspire.online:8081/upload/avatars/default-avatar.png" class="messenger__chat-menu__chat-avatar">
                        <div class="messenger__chat-menu__chat-username">
                            <span class="messenger__chat-menu__chat-username-span text-base1-medium">Username</span>
                        </div>
                    </li>
                    
                    <li class="messenger__chat-menu__chat-item" data-section="messenger__chat-menu__chat-name">
                        <img src="https://pinspire.online:8081/upload/avatars/default-avatar.png" class="messenger__chat-menu__chat-avatar">
                        <div class="messenger__chat-menu__chat-username">
                            <span class="messenger__chat-menu__chat-username-span text-base1-medium">Username</span>
                        </div>
                    </li>
                
                </ul>
            </nav>    
        </div>
        <div class="messenger__chat">
            <img src="" class="messenger__chat__no-content-img">
            <span class="messenger__chat__no-content"></span>
            <div class="messenger__chat__messages">
                
                <div class="messenger__chat__message-item-my">
                    <div class="messenger__chat__message-item-my-text">
                    <span class="messenger__chat__message-item__text text-base2-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ligula erat, vulputate ut quam eu, malesuada blandit elit. In vel augue efficitur, sodales ex sit amet, venenatis sem. Phasellus pharetra ornare sem, a interdum mi pulvinar ut. Phasellus fermentum gravida quam sit amet sagittis. Fusce sapien erat, tristique et eros a, lobortis volutpat diam. In hac habitasse platea dictumst. Maecenas gravida urna a metus tempor, in aliquet nulla hendrerit. Vestibulum condimentum odio at posuere interdum. Nam a massa ut ex placerat pretium. Duis diam ex, aliquet id erat a, dapibus rhoncus lacus. Praesent id faucibus lectus. Morbi vehicula fringilla elit. Cras vel mi eu massa ultricies lobortis. Nulla velit felis, auctor vel elit at, aliquet vehicula lectus. Mauris id lacus sed dui sodales vestibulum id eu libero. Suspendisse egestas condimentum porta.</span>
                    </div>
                    <div class="messenger__chat__message-item-my-buttons">
                    <div class="messenger__chat__message-item__buttons hide">
                        <img src="https://pinspire.online:8081/assets/icons/forMessenger/icon_edit_message.svg" class="messenger__chat__message-item__button-edit">
                        <img src="https://pinspire.online:8081/assets/icons/forMessenger/icon_delete_message.svg" class="messenger__chat__message-item__button-delete">
                    </div>
                    </div>
                </div>
                
                <div class="messenger__chat__message-item-companion">
                    <div class="messenger__chat__message-item-companion-text">
                    <span class="messenger__chat__message-item__text text-base2-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ligula erat, vulputate ut quam eu, malesuada porta.</span>
                    </div>
                </div>
                
                <div class="messenger__chat__message-item-my">
                    <div class="messenger__chat__message-item-my-text">
                    <span class="messenger__chat__message-item__text text-base2-medium">Lorem ipsum porta.</span>
                    </div>
                    <div class="messenger__chat__message-item-my-buttons">
                    <div class="messenger__chat__message-item__buttons hide">
                        <img src="https://pinspire.online:8081/assets/icons/forMessenger/icon_edit_message.svg" class="messenger__chat__message-item__button-edit">
                        <img src="https://pinspire.online:8081/assets/icons/forMessenger/icon_delete_message.svg" class="messenger__chat__message-item__button-delete">
                    </div>
                    </div>
                </div>
                
                <div class="messenger__chat__message-item-companion">
                    <div class="messenger__chat__message-item-companion-text">
                    <span class="messenger__chat__message-item__text text-base2-medium">Lorem ipsum.</span>
                    </div>
                </div>
                
                
                
            </div>

            <footer class="messenger__chat__footer">
                <div class="messenger__chat__footer__text">
                    <input type="text" placeholder="Сообщение..." class="messenger__chat__footer__text-input text-base2-medium">
                </div>
                <img src="https://pinspire.online:8081/assets/icons/actions/messenger_send_message.svg" class="messenger__chat__footer__send_message-img">
            </footer>
        </div>
    </div>
    <div class="messenger-non-content"></div>
</div>