<div class="messenger-page">
    <div class="messenger hide">
        <div class="messenger__chat-menu">
            <div class="messenger__search">
                <div class="messenger__search__text">
                    <input type="text" placeholder="Найти пользователя" class="messenger__search__text-input text-base2-medium">
                </div>
            </div>
            <img src="" class="messenger__chat-menu__no-content-img">
            <span class="messenger__search__no-content"></span>
            <nav class="messenger__chat-menu__chats">
                <ul class="messenger__chat-menu__chat-list">                
                </ul>
            </nav>    
        </div>
        <div class="messenger__chat">
            <img src="" class="messenger__chat__no-content-img">
            <span class="messenger__chat__no-content"></span>
            <div class="messenger__chat__messages">
            </div>
            <footer class="messenger__chat__footer">
                <div class="messenger__chat__footer__text">
                    <input type="text" placeholder="Сообщение..." class="messenger__chat__footer__text-input text-base2-medium">
                </div>
                <img src="https://pinspire.online:8081/assets/icons/actions/messenger_send_message.svg" class="messenger__chat__footer__send_message-img">
            </footer>
        </div>
    </div>
    <div class="messenger-non-content hide"></div>
</div>
