.user-boards-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.user__board {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 300px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.user__board-title {
    text-align: center;
}

.user__board-pins {
    display: flex;
    height: 100%;
    justify-content: center;
}

.user__board__pin {
    flex: 0 0 33.33%;
    overflow: hidden;
}

.user__board__pin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}