.profile-data {
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
  padding: 1rem;
  gap: 1rem;
}

.profile-data__content {
  display: flex;
  position: relative;
  top: -10px;
  left: -20px;
}

.profile-data__avatar {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.profile-data__avatar-img {
  width: 120px;
  border-radius: 10px;
}

.profile-data__edit-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.profile-data__line {
  display: flex;
  width: 0.1px;
  height: 343px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 2px solid var(--bg-85, #D9D9D9);
}

.profile-data__data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1076px;
  height: 346px;
  padding: 0 78px 0 78px;
}

.profile-data__data-names {
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.profile-data__data-names__item {
  display: flex;
  width: 272px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.profile-data__data-names__name {
  margin-top: -20px;
}

.profile-data__data-names__item-title {
  color: var(--bg50, #808080);
}

.profile-data__data-names__item-data {
  display: flex;
  width: 360px;
  height: 46px;
}

.profile-data__data-names__item-textarea {
  height: 46px;
  border: none;
  background: none;
  resize: none;
  outline: none;
  color: var(--black-text, rgba(24, 24, 24, 0.87));
}

.profile-data__data-about {
  display: flex;
  left: 500px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex-shrink: 0;
  flex: 1;
}

.profile-data__data-about__title {
  color: var(--bg50, #808080);
}

.profile-data__data-about__data {
  display: flex;
  width: 650px;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2px;
  gap: 4px;
}

.profile-data__data-about__data-textarea {
  height: 258px;
  width: 650px;
  border: none;
  background: none;
  resize: none;
  outline: none;
  color: var(--black-text, rgba(24, 24, 24, 0.87));
}

.profile-data-span {
}

.profile-data-span-all {
  font-family: Nunito;
  height: 30px;
  font-size: 15px; 
  color: var(--error-50, #F4210B);
  text-align: left;
}

.profile-data__edit-data {
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.profile-data-edit {
  width: 1503px;
  height: 427px;
  flex-shrink: 0;
}

.profile-data__control {
  display: flex;
  width: 1503px;
  height: 79px;
  justify-content: center;
  align-items: center;
}

.profile-data__control__line {
  display: flex;
  width: 1500px;
  height: 0.1px;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 2px solid var(--bg-85, #D9D9D9);
}

.profile-data__btns {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
}

.profile-data__btns__cansel-btn {
  display: flex;
  width: 135px;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--primary-30, #226B77);
  text-align: center;
}

.profile-data__btns__save-btn {
  display: flex;
  width: 175px;
  height: 40px;
  padding: 20px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--bg-100, #FFF);
  text-align: center;
}

.input-disabled {
  border-radius: var(--br-s, 10px);
  border: 2px solid var(--primary-45, #808080);
  background: var(--bg-100, #FFF);
}

.input-primary {
  border-radius: var(--br-s, 10px);
  border: 2px solid var(--primary-45, #33A1B3);
  background: var(--bg-100, #FFF);
}

.hide {
  display: none;
}
