<div class="pin-comments__item" data-comment-id="{{id}}">
    <div class="pin-comments__user_info">
        <img src="{{avatar}}" class="pin-comments__user_info__avatar">
        <div class="pin-comments__user_info__username text-base2-medium">{{username}}</div>
    </div>
    <span class="pin-comments__comment text-base2-medium">{{content}}</span>
</div>