<div class="header">
  <div class="header__input"></div>
  <div class="header__user-btns">
    <div class="header__user__create">
      <div class="header__user__create-img">
        <img class="js-create-img" src="https://pinspire.online:1444/assets/icons/create.svg">
      </div>
      <nav class="header__create__menu hide">
        <div class="header__create__menu__pin header__create__menu__item">
          <div class="header__create__menu__pin-icon">
            <img src="https://pinspire.online:1444/assets/icons/icon_picture-create_menu.svg">
          </div>
          <div class="header__create__menu__pin-text text-base1-regular">
            Создать пин
          </div>
        </div>
        <div class="header__create__menu__board header__create__menu__item">
          <div class="header__create__menu__board-icon">
            <img src="https://pinspire.online:1444/assets/icons/icon_picture-create_menu.svg">
          </div>
          <div class="header__create__menu__board-text text-base1-regular">
            Создать доску
          </div>
        </div>
      </nav>
    </div>
    <div class="header__user__avatar">
      <div class="header__user__avatar-img">
        <img src="https://pinspire.online:1444/assets/icons/headerDefaultAvatar.svg">
        <img src="https://pinspire.online:1444/assets/icons/arrowDown.svg">
      </div>
      <nav class="header__user__menu hide">
        <div class="header__user__menu__username">
          <div class="header__user__menu__username-text text-base1-medium">
            Username
          </div>
        </div>
        <div class="header__user__menu__profile header__user__menu__item">
          <div class="header__user__menu__profile-icon">
            <img src="https://pinspire.online:1444/assets/icons/icon_profile-user_menu.svg">
          </div>
          <div class="header__user__menu__profile-text text-base1-regular">
            Профиль
          </div>
        </div>
        <div class="header__user__menu__logout header__user__menu__item">
          <div class="header__user__menu__logout-icon">
            <img src="https://pinspire.online:1444/assets/icons/icon_exit-user_menu.svg">
          </div>
          <div class="header__user__menu__logout-text text-base1-regular">
            Выход
          </div>
        </div>
      </nav>
    </div>    
  </div>
</div>