<div class="header">
  <div class="header__input"></div>
  <div class="header__user-btns">
    <div class="header__user__create">
      <img src="https://pinspire.online:1444/assets/icons/create.svg">
    </div>
    <div class="header__user__notification">
      <img src="https://pinspire.online:1444/assets/icons/notification.svg">
    </div>
    <div class="header__user__avatar">
      <img src="https://pinspire.online:1444/assets/icons/headerDefaultAvatar.svg">
      <img src="https://pinspire.online:1444/assets/icons/arrowDown.svg">
    </div>
  </div>
</div>