.header-guest {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 77px;
    padding: 0 40px 0 40px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--bg50, #808080);
    background: #FFF;
}

.header-guest__logo {
    cursor: pointer;
}

.header-guest__btns {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
}
  
.btn-primary-clear {
    display: flex;
    width: 135px;
    height: 44px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--br-s, 10px);
    border: 2px solid var(--primary-30);
    background: var(--bg-100, #FFF);
}
  
.btn-primary-default {
    display: flex;
    width: 175px;
    height: 40px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--br-s, 10px);
    background: var(--primary-30);
    border: 2px solid var(--primary-30);
}
  
.header__login-btn {
    color: var(--primary-30);
    text-align: center;
}

.header__singup-btn {
    color: var(--bg-100, #FFF);
    text-align: center;
}

.text-base1-medium {
    /* text base1 medium */
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}