<div class="header-guest">
  <div class="header-guest__logo">
    <img src="https://pinspire.online:1444/assets/icons/logo102x74.svg">
  </div>
  <div class="header-guest__btns">
     <button class="btn-primary-clear text-base1-medium header__login-btn js-header__login-btn">
       Вход
    </button>
    <button class="btn-primary-default text-base1-medium header__singup-btn js-header__singup-btn">
       Регистрация
    </button>
  </div>
</div>