.header-guest {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 77px;
    width: -webkit-fill-available;
    padding: 0 3vw;
    flex-shrink: 0;
    border-bottom: 1px solid var(--bg50, #808080);
    background: #FFF;
}

.header-guest__logo_and_search {
    /* display: flex;
    align-items: center; */
}

.header-guest__search {
    position: relative;
    top: -10px;
    padding-left: 20px;
}

.header-guest__search__field {
    display: inline-flex;
    height: 40px;
    width: 270px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
    flex-shrink: 0;
    gap: 4px;
    border-radius: var(--br-s, 10px);
    border: 2px solid var(--primary-30, #226B77);
    background: var(--bg-100, #FFF);
}

.header-guest__search__text-input {
    border: none;
    outline: none;
    width: 230px;
    padding-left: 4px;
    color: var(--black-text, rgba(24, 24, 24, 0.87));
}

.header-guest__search__img-image {
    cursor: pointer;
}

.header-guest__logo {
    cursor: pointer;
}

.header-guest__btns {
    display: inline-flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.header__login-btn {
    padding: 0 0.5rem;
    color: var(--primary-30);
    text-align: center;
}

.header__singup-btn {
    padding: 0 0.5rem;
    color: var(--bg-100, #FFF);
    text-align: center;
}
