<div class="header-guest">
  <div class="header-guest__logo_and_search">
    <div class="header-guest__logo">
      <img src="/assets/icons/logo/logo102x74.svg" class="js-header-guest__logo-img">
    </div>
    <div class="header-guest__search">
      <div class="header-guest__search__field hide">
        <div class="header-guest__search__text">
          <input type="text" placeholder="Поиск..." class="header-guest__search__text-input text-base2-medium">
        </div>
        <div class="header-guest__search__img">
          <img src="/assets/icons/forHeader/icon-search.svg" class="header-guest__search__img-image">
        </div>
      </div>
    </div>
  </div>
  <div class="header-guest__btns">
     <button class="btn-primary-clear text-base1-medium header__login-btn js-header__login-btn">
       Вход
    </button>
    <button class="btn-primary-default text-base1-medium header__singup-btn js-header__singup-btn">
       Регистрация
    </button>
  </div>
</div>