<div class="container">
    <div class="rectangle">
        <div class="title__block">
        <span class="title-quiz text-base1-medium">Как вы о нас узнали?</span>
        <img src="/assets/icons/actions/icon_cancel.svg" class="btn-cancel js-cancel__btn">
    </div>
    <hr class="grey-line">
    <hr class="grey-line">
    <div class="pin-data__btns">
        <button class="btn-primary-clear text-base1-medium js-quiz-close__btn-change">Закрыть</button>
        <button class="btn-primary-default text-base1-medium js-quiz-forward__btn-change">Далее</button>
    </div>
</div>
