.header-left {
    display: flex;
    gap: 50px;
}

.header-left__logo {
    display: flex;
    align-items: center;
}

.logo-left__logo__icon {
    width: 102px;
    height: 74px;
}

.nav-create {
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translateY(0px);
    height: 220px;
    width: 300px;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    flex-shrink: 0;
}

.nav-create.nav-open {
    border-radius: var(--br-s, 10px);
}

.header__nav-create__menu {
    position: absolute;
    top: 25px;
    left: 5%;
    padding: 0;
    width: 30px;
    cursor: pointer;
    z-index: 2;
}

.header__nav-create__menu .line {
    padding: 0;
    width: 30px;
    background: #226B77;
    height: 3px;
    margin: 5px 0;
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

.header__nav-create__menu-line1 {
    width: 30px;
    transform: rotate(0) translateY(0);
}

.header__nav-create__menu-line1.line-cross {
    width: 30px;
    transform: rotate(47deg) translateY(11px);
    background: #226B77;
}

.header__nav-create__menu-line2 {
    width: 30px;
    transform: translateX(0);
}

.header__nav-create__menu-line2.line-fade-out {
    width: 28px;
    transform: translate(30px);
    opacity: 0;
}

.header__nav-create__menu-line3 {
    width: 30px;
    transform: rotate(0) translateY(0);
}

.header__nav-create__menu-line3.line-cross {
    width: 30px;
    transform: rotate(-46deg) translateY(-11px);
    background: #226B77;
}

.header__nav-create__btns {
    position: absolute;
    left: 0;
    top: 80px;
    display: flex;
    padding: 10px 10px 10px 10px;
    gap: 10px;
    flex-direction: column;
    transform: translateY(-1000px);
    opacity: 0;
    z-index: 1;
    transition: all 900ms cubic-bezier(.9, 0, .33, 1);

    border-radius: var(--br-s, 10px);
    border: 1px solid var(--primary-30, #226B77);
    background: rgba(255, 255, 255, 0.50);
}

.header__nav-create__btns.fade-in {
    opacity: 1;
    transform: translateY(0px);
}
