<div class="auth-page">
    <button class="cancel-button">
        <img src="./static/svg/cancel.svg" alt="Cancel">
    </button>
    <img class="ibackground" src="static/img/image_2.png" alt="Background Image">
    <div class="form-container">
        <form class="input-container">
            <h4 class="auth-title">Войти в PinSpire</h4>
            <label for="username" class="labeled-input">Имя пользователя</label>
            <input type="text" id="username" placeholder="username">
            <span class="error-message"></span>
            <label for="password" class="labeled-input">Пароль</label>
            <input type="password" id="password" placeholder="●●●●●●●●●●●●">
            <span class="error-message"></span>
            <button class="button" type="submit">Войти</button>
            <p class="already-registered">Все еще нет аккаунта? <a href="#">Регистрация</a></p>
        </form>
    </div>
</div>
