<div class="header-logo">
    <div class="logo-icon">
        <img src="static/svg/logo102x74.svg">
    </div>
    <div class="logo-text">
        <img src="static/svg/logoString200x46.svg">
    </div>
</div>
{{#if isAuthorized}}
    {{{UserData userDataContext}}}
{{else}}
    {{{HeaderNonAuthorized}}}
{{/if}}
