<div class="header-logo">
    <div class="logo-icon">
        <a href="#top">
            <img src="static/svg/logo102x74.svg">
        </a>
    </div>
    <div class="logo-text">
        <a href="#top">
            <img src="static/svg/logoString200x46.svg">
        </a>
        <h1>{{isAuthorized}}</h1>
    </div>
</div>
{{#if isAuthorized}}
    {{{UserData userDataContext}}}
{{else}}
    {{{HeaderNonAuthorized}}}
{{/if}}
