<div class="header-logo">
    <a class="logo-icon" href="#top">
        <img src="static/svg/logo102x74.svg">
    </div>
    <a class="logo-text" href="#top">
        <img src="static/svg/logoString200x46.svg">
    </div>
</div>
{{#if isAuthorized}}
    {{{UserData userDataContext}}}
{{else}}
    {{{HeaderNonAuthorized}}}
{{/if}}
