<div class="page">
  <button class="cancel-button"><img src="./static/svg/cancel.svg"></button>
  <img class="ibackground" src="static/img/image_1.png">
  <div class="form-container">
    <form class="input-container">
      <h4 class="registration-title">Регистрация в PinSpire</h4>
      {{{ usernameInput }}}
      {{{ emailInput }}}
      {{{ passwordInput }}}
      <button class="button" type="submit">Создать аккаунт</button>
      <p class="already-registered">
        Уже есть аккаунт? <a href="#">Войти</a>
      </p>
    </form>
  </div>
</div>
