<div class="header-user">
    <div class="header-user-data">
        <div class="header-username">
            {{userDataContext}}
        </div>
        <div class="header-user-avatar">
            <img src="./static/svg/icon _profile.svg">
        </div>
    </div>
    <button class="header-logout-button" type="submit">Выход</button>
</div>
