/* Общие стили для всей страницы */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Стили для фона */
#fond {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Стили для белого квадрата слева */
.form-container {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 46%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стили для всего контейнера */
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

/* Стили для лейблов */
.labeled-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Стили для полей ввода */
input {
  width: 443px;
  height: 25px; 
  padding: 8px 0px 8px 8px;
  border: 2px solid var(--primary-45, #33A1B3);
  border-radius: 5px;

  color: var(--primary-45, #33A1B3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;  
}

/* Стили для кнопки */
button {
  background-color: #226B77;
  color: #FFFFFF;
  width: 294px;
  height: 45px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-size: 21.25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}