/* Общие стили для всей страницы */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


#root {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 100px;
  flex-shrink: 1;
  padding: 0 90px 0 90px;
  align-items: center;
  position: relative;
  top: 0;
  width: 100%;
  background-color:#FFFFFF;
  box-shadow: 0 1px 5px rgb(214, 217, 219);
}

main {
  padding-top: 100px;
  flex-grow: 1;
}

a {
  display: block;
  color: #333333;
  text-decoration: none;
}

.feed {
  margin: 0 auto;
}

.feed-image {
  margin-top: 10px;
}

.header__item {
  padding-left: 10px;
  color: #000;
  text-align: center;

  /* text base1 medium */
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  max-width: 1500px;
  margin: 10px auto;
  padding: 0 10px;
  position: fixed;
}

.gallery__item {
  align-items: center;
  display: flex;
  justify-content: center;
}

.gallery__item > img {
  border-radius: 12px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 1400px) {
  .gallery {
      max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .gallery {
      max-width: 1000px;
  }
}

@media (max-width: 1000px) {
  .gallery {
      max-width: 800px;
  }
}

@media (max-width: 800px) {
  .gallery {
      max-width: 600px;
  }
}

@media (max-width: 600px) {
  .gallery {
      max-width: 400px;
  }
}

.gallery__item--hor {
  grid-column: span 2;
}

.gallery__item--vert {
  grid-row: span 2;
}

.gallery__item--lg {
  grid-column: span 2;
  grid-row: span 2;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-x-10, 40px);
} 

.logo-icon {
  width: 102px;
  height: 74px;
}

.logo-text {
  display: flex;
  width: 200px;
  height: 46px;
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
  gap: 5px;

}

.header-user {
  padding-right: 180px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.header-user-data {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.header-username {
  color: #000;
  text-align: center;
  /* text base1 medium */
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-logout-button {
  background-color: #226B77;
  color: #FFFFFF;
  width: 107px;
  height: 45px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-size: 21.25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header-buttons {
  padding-right: 180px;
  display: flex;
  align-items: flex-start;
  gap: 54px;
}

.header-login-button {
  background-color: #226B77;
  color: #FFFFFF;
  width: 89px;
  height: 45px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-size: 21.25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header-signup-button {
  background-color: #226B77;
  color: #FFFFFF;
  width: 178px;
  height: 45px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-size: 21.25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.already-registered {
  display: flex;
  gap: 5px;
}

/* Стили для фоновых изображений */
.ibackground {
  overflow:  hidden;
  width: 100%;
  height: 100%;
}

/* Стили для белого квадрата слева */
.form-container {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

/* Стили для всего контейнера */
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

/* Стили для лейблов */
.labeled-input {
  font-family: Nunito;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Стили для полей ввода */
input {
  font-family: Lato;
  width: 443px;
  height: 25px; 
  padding: 8px 0px 8px 8px;
  border: 2px solid var(--primary-45, #33A1B3);
  border-radius: var(--br-s, 10px);

  color: var(--primary-45, #33A1B3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;  
}

/* Стили для focus полей ввода */
input:focus {
  border-radius: var(--br-s, 10px);
  border: 2px solid var(--primary-30, #226B77);
  background: var(--bg-100, #FFF);
}

/* Стили для кнопки */
.button {
  background-color: #226B77;
  color: #FFFFFF;
  width: 294px;
  height: 45px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-size: 21.25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Стили для hover кнопки */
.button:hover {
  background: rgba(34, 107, 119, 0.80);
}

/* Стили для кнопки */
.cancel-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 15px;
  height: 15px;
  z-index: 9999;
}

/* Cтили для залоговка */
.registration-title {
  font-family: Nunito;
  font-size: 31.3px; 
  font-weight: normal; 
  margin-bottom: 10px;
}

/* Cтили для залоговка */
.auth-title {
  font-family: Nunito;
  font-size: 31.3px; 
  font-weight: normal; 
  margin-bottom: 10px;
}

p {
  font-family: Nunito;
}

/* Стили для ссылок */
a {
  font-family: Nunito 600;
  font-weight: bold; 
  color: black;
  text-decoration: none;
}

.error-message {
  font-family: Nunito;
  font-size: 15px; 
  color: var(--error-50, #F4210B);
}

.gallery img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}