<div class="rectangle-create">
    <span class="title-create">Создание доски</span>
    <hr class="grey-line">
    <div class="input-container">
        <div class="input-title">
            <label for="title" class="labeled-input">Название</label>
            <input type="text" id="title" placeholder="Введите название доски">
        </div>
        <div class="input-description">
            <label for="description" class="labeled-input">Описание</label>
            <input type="text" id="description" placeholder="Введите описание доски">
        </div>
            <div class="input-IDs">
            <label for="IDs" class="labeled-input">ID пинов</label>
            <input type="text" id="IDs" placeholder="Введите ID пинов">
        </div>
    </div>
    <section id="pins" class="gallery"></section>
    <hr class="grey-line">
    <div class="buttons-container">
        <button class="board-cancel-button">Отмена</button>
        <button class="board-create-button">Создать</button>
    </div>
</div>
