<div class="rectangle-create" id="board-rectangle">
    <span class="title-create">Создание доски</span>
    <hr class="grey-line">
    <div class="input-title">
        <label for="title" class="labeled-input">Название</label>
        <input type="text" class="title__item-data text-base2-medium input-primary" placeholder="Введите название доски">
    </div>
    <div class="input-description">
        <label for="description" class="labeled-input">Описание</label>
        <textarea type="text" class="description__item-data text-base2-medium input-primary" placeholder="Введите описание доски"></textarea>
    </div>
    <hr class="grey-line">
    <div class="board-data__btns">
        <button class="btn-primary-clear text-base1-medium js-board-cancel__btn-change">Отмена</button>
        <button class="btn-primary-default text-base1-medium js-board-create__btn-change">Создать</button>
    </div>
</div>
