<div class="rectangle-create">
    <span class="title-create">Создание доски</span>
    <div class="input-title">
        <label for="title" class="labeled-input">Название</label>
        <input type="text" id="title" placeholder="Введите название доски">
    </div>
    <div class="input-description">
        <label for="description" class="labeled-input">Описание</label>
        <input type="text" id="description" placeholder="Введите описание доски">
    </div>
    <section id="pins" class="gallery"></section>
    <div class="buttons-container">
        <button class="board-cancel-button">Отмена</button>
        <button class="board-create-button">Создать</button>
    </div>
</div>
