<div class="subscriptions">
    <div class="subscriptions-non-content"></div>
    <div class="hide subscriptions__search">
        <div class="subscriptions__search__text">
            <input type="text" placeholder="Найти пользователя" class="subscriptions__search__text-input text-base2-medium">
        </div>
    </div>
    <section class="subscriptions-gallery"></section>
</div>
