<div class="subscriptions__items subscriptions__item-{{id}}">
    <div class="subscriptions__items__avatar">
        <img src="{{avatar}}" class="subscriptions__items__avatar-img">
    </div>
    <div class="subscriptions__items__username">
        <div class="subcriptions__items__username-text text-base1-medium">{{username}}</div>
    </div>
</div>