<div class="statistics">
  <span class="statistics__title text-h4-medium">Топ итересных тематик</span>
  <div class="statistics__content">
    <canvas width="700" height="500" id="canvas"></canvas>
  </div>
</span>