<div class="header-left">
    <div class="header-left__logo">
        <div class="header-left__logo__icon">
            <a href="#top">
                <img src="static/svg/logo102x74.svg">
            </a>
        </div>
    </div>

    {{#if isAuthorized}}
        <div class="header-left__create-menu">
            <nav class="nav-create">
                <div class="header__nav-create__menu">
                    <div class="line header__nav-create__menu-line1"></div>
                    <div class="line header__nav-create__menu-line2"></div>
                    <div class="line header__nav-create__menu-line3"></div>
                </div>

                <div class="header__nav-create__btns">
                    <button class="btn-primary-default header__nav-create__btn-upload-picture">Загрузить картинку</button>
                    <button class="btn-primary-clear header__nav-create__btn-create-board">Создать доску</button>
                </div>
            </nav>
        </div>
    {{/if}}
</div>

<div class="header-right">
    {{#if isAuthorized}}
        {{{UserData userDataContext}}}
    {{else}}
        {{{HeaderNonAuthorized}}}
    {{/if}}
</div>
