<div class="header-user">
    <div class="header-user__data">
        <div class="header-user__data__username">
            {{username}}
        </div>
        <div class="header-user__data__avatar">
            <img src="./static/svg/icon _profile.svg">
        </div>
    </div>
    <button class="header-user__logout-btn" type="submit">Выход</button>
</div>
