
.sidebar__menu__btn {
    all: unset;
  }
  
  .sidebar {
    display: flex;
    position: fixed;
    height: 100%;
    width: 250px;
    flex-direction: column;
    background: var(--sidebra-bg, rgba(51, 161, 179, 0.05));
  }
  
  .sidebar__menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .sidebar__menu__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
  }
  
  .sidebar__menu__profile-full {
    width: 200px;
  }
  
  .sidebar__menu__item__content {
    display: flex;
    width: 179px;
    height: 25px;
    padding: 15px 12px 6px 13px;
    align-items: flex-start;
    gap: 9px;
    flex-shrink: 0;
  }
  
  .sidebar__menu__btn-active {
    border-radius: var(--br-s, 10px);
    background: rgba(51, 161, 179, 0.40);
    color: var(--primary-30, #226B77);
  }
  
  .sidebar__menu__btn:hover {
    border-radius: var(--br-s, 10px);
    background: var(--bg-90, #E6E6E6);
  }
  
  .sidebar__menu__item__label {
    display: flex;
    width: 117.822px;
    height: 19.89px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }
  
  .hide {
    display: none;
  }
  
  .sidebar__menu__profile-fields {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .sidebar__menu__profile-fields__label {
    display: flex;
    width: 145px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
  }
  
  .text-base1-medium {
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .text-base2-medium {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  