.sidebar__menu__btn {
  all: unset;
}

.sidebar {
  display: flex;
  position: fixed;
  height: 100%;
  width: 15vw;
  flex-direction: column;
  background: var(--sidebra-bg, rgba(51, 161, 179, 0.05));
}

.sidebar__logo {
  padding: 0.5rem 0 0 1rem;
  display: flex;
  cursor: pointer;
}

.sidebar__menu {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar__menu__btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  flex-shrink: 0;
}

.sidebar__menu__item__content {
  display: flex;
  padding-left: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
}

.sidebar__menu__btn-active {
  border-radius: var(--br-s, 10px);
  background: rgba(51, 161, 179, 0.40);
  color: var(--primary-30);
  width: 100%;
}

.sidebar__menu__btn:hover {
  border-radius: var(--br-s, 10px);
  background: var(--bg-90);
  width: 100%;
}

.sidebar__menu__item__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.hide {
  display: none;
}

.sidebar__menu__profile-fields {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar__menu__profile-fields__label {
  display: flex;
  width: 145px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.sidebar__menu__icon {
  display: flex;
}

@media (max-width: 1500px) {
  #sidebar {
    width: 82px;
  }

  .sidebar {
    width: min-content;
  }

  .js-sidebar__logo-img {
    width: 50px;
  }

  .sidebar__menu__item__label {
    display: none;
  }

  .sidebar__menu__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
  }

  .sidebar__menu__item__content {
    padding-left: 0;
  }

  .sidebar__menu__profile-fields__label {
    display: none;
  }

  .sidebar__menu__profile__arrow {
    display: none;
  }

}