<div class="sidebar">
    <div class="sidebar__logo">
        <img src="https://pinspire.online:1444/assets/icons/logo102x74.svg">
    </div>
    <div class="sidebar__menu">
        <button class="sidebar__menu__btn sidebar__menu__btn-active sidebar__menu__feed">
            <div class="sidebar__menu__item__content">
                <div class="sidebar__menu__feed__icon">
                    <img src="https://pinspire.online:1444/assets/icons/picture.svg">
                </div>
                <div class="sidebar__menu__item__label text-base1-medium">
                    <div class="sidebar__menu__item__label-text">
                        Лента
                    </div>
                </div>
            </div>
        </button>
        <div class='sidebar__menu__profile-full'>
            <button class="sidebar__menu__btn sidebar__menu__profile">
                <div class="sidebar__menu__item__content">
                    <div class="sidebar__menu__profile__icon">
                        <img src="https://pinspire.online:1444/assets/icons/icon_profile.svg">
                    </div>
                    <div class="sidebar__menu__item__label text-base1-medium">
                        Профиль
                    </div>
                    <div class="sidebar__menu__profile__arrow">
                        <img src="https://pinspire.online:1444/assets/icons/icon_profile_arrow-down.svg" class="sidebar__menu__profile__arrow-img">
                    </div>
                </div>
            </button>
            <div class="js-sidebar__menu__profile-fields hide">
                <button class="sidebar__menu__btn sidebar__menu__profile__data">
                    <div class="sidebar__menu__item__content">
                        <div class="sidebar__menu__subscriptions__icon">
                            <img src="https://pinspire.online:1444/assets/icons/icon_profile_data.svg">
                        </div>
                        <div class="sidebar__menu__profile-fields__label text-base2-medium">
                            Данные аккаунта
                        </div>
                    </div>
                </button>
                <button class="sidebar__menu__btn sidebar__menu__profile__security">
                    <div class="sidebar__menu__item__content">
                        <div class="sidebar__menu__subscriptions__icon">
                            <img src="https://pinspire.online:1444/assets/icons/icon_profile_settings.svg">
                        </div>
                        <div class="sidebar__menu__profile-fields__label text-base2-medium">
                        Безопасность
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>