<div class="sidebar">
    <div class="sidebar__logo">
        <img src="/assets/icons/logo/logo102x74.svg" class="js-sidebar__logo-img">
    </div>
    <div class="sidebar__menu">
        <button class="sidebar__menu__btn sidebar__menu__btn-active sidebar__menu__feed">
            <div class="sidebar__menu__item__content">
                <div class="sidebar__menu__feed__icon">
                    <img src="/assets/icons/forSidebar/icon_feed-active.svg" class="sidebar__menu__feed__icon-img">
                </div>
                <div class="sidebar__menu__item__label text-base1-medium">
                    <div class="sidebar__menu__item__label-text">
                        Лента
                    </div>
                </div>
            </div>
        </button>
        <button class="sidebar__menu__btn sidebar__menu__messenger">
            <div class="sidebar__menu__item__content">
                <div class="sidebar__menu__messenger__icon">
                    <img src="/assets/icons/forSidebar/icon_message.svg" class="sidebar__menu__messenger__icon-img">
                </div>
                <div class="sidebar__menu__item__label text-base1-medium">
                    <div class="sidebar__menu__item__label-text">
                        Мессенджер
                    </div>
                </div>
            </div>
        </button>
        <button class="sidebar__menu__btn sidebar__menu__subscriptions">
            <div class="sidebar__menu__item__content">
                <div class="sidebar__menu__subscriptions__icon">
                    <img src="/assets/icons/forSidebar/icon_subscriptions.svg" class="sidebar__menu__subscriptions__icon-img">
                </div>
                <div class="sidebar__menu__item__label text-base1-medium">
                    <div class="sidebar__menu__item__label-text">
                        Подписки
                    </div>
                </div>
            </div>
        </button>
        <button class="sidebar__menu__btn sidebar__menu__favourite">
            <div class="sidebar__menu__item__content">
                <div class="sidebar__menu__favourite__icon">
                    <img src="/assets/icons/forSidebar/icon_like.svg" class="sidebar__menu__favourite__icon-img">
                </div>
                <div class="sidebar__menu__item__label text-base1-medium">
                    <div class="sidebar__menu__item__label-text">
                        Избранное
                    </div>
                </div>
            </div>
        </button>
        <div class='sidebar__menu__profile-full'>
            <button class="sidebar__menu__btn sidebar__menu__profile">
                <div class="sidebar__menu__item__content">
                    <div class="sidebar__menu__profile__icon">
                        <img src="/assets/icons/forSidebar/icon_user.svg" class="sidebar__menu__profile__icon-img">
                    </div>
                    <div class="sidebar__menu__item__label text-base1-medium">
                        Профиль
                    </div>
                    <div class="sidebar__menu__profile__arrow">
                        <img src="/assets/icons/actions/icon_profile_arrow-down.svg" class="sidebar__menu__profile__arrow-img">
                    </div>
                </div>
            </button>
            <div class="js-sidebar__menu__profile-fields hide">
                <button class="sidebar__menu__btn sidebar__menu__profile-data">
                    <div class="sidebar__menu__item__content">
                        <div class="sidebar__menu__profile-data__icon">
                            <img src="/assets/icons/forSidebar/icon_profile_data.svg" class="sidebar__menu__profile-data__icon-img">
                        </div>
                        <div class="sidebar__menu__profile-fields__label text-base2-medium">
                            Данные аккаунта
                        </div>
                    </div>
                </button>
                <button class="sidebar__menu__btn sidebar__menu__profile-security">
                    <div class="sidebar__menu__item__content">
                        <div class="sidebar__menu__profile-security__icon">
                            <img src="/assets/icons/forSidebar/icon_profile_settings.svg" class="sidebar__menu__profile-security__icon-img">
                        </div>
                        <div class="sidebar__menu__profile-fields__label text-base2-medium">
                        Безопасность
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>