.title-create {
    font-family: Nunito;
    font-size: 25px;
    text-align: left;
}

.rectangle-create {
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    display: flex;
    justify-content: center;
    max-width: 900px;
    border: 1px solid #000;
    border-radius: 15px;
    margin: 100px auto 0;
    box-shadow: 10px 8px 4px rgba(0, 0, 0, 0.2);
}

#file-input {
    width: 50%;
    margin-bottom: 10px;
    height: 100px;
}

.input-title,
.input-description {
    width: 50%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.labeled-input {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    /* padding-top: 5px; */
    /* vertical-align: top; */
}

#description {
    height: 200px;
    vertical-align: top;
}

.buttons-container {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.pin-cancel-button {
    font-family: Nunito;
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid var(--primary-30, #226B77);
    background-color: white;
    color: #226B77;
    border-radius: 15px;
    cursor: pointer;
    width: 160px;
    height: 49px;
}

.pin-create-button {
    font-family: Nunito;
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid var(--primary-30, #226B77);
    background-color: #226B77;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 160px;
    height: 49px;
}

.pin-cancel-button:hover,
.pin-create-button:hover {
    color: white;
    background-color: #3D99A6;
}
