<div class="non-content-page">
    <div class="non-content-page__text text-h4-medium">
        {{textContent}}
    </div>
    <button class="btn-primary-clear text-base1-medium js-non-content-goto-btn">{{btnContent}}</button>
</div>