.non-content-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 3rem;
}

.js-non-content-goto-btn{
    width: 100%;
    height: min-content;
}
