/* AUTHORIZED */
.header-user {
    padding-right: 100px;
    display: flex;
    align-items: center;
    gap: 50px;
}
  
.header-user__data {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.header-user__data__username {
    color: #000;
    text-align: center;
    /* text base1 medium */
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-user__logout-btn {
    font-family: Nunito;
    background-color: #226B77;
    color: #FFFFFF;
    width: 178px;
    height: 45px;
    padding: 1px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-user__logout-btn:hover {
    background: rgba(34, 107, 119, 0.80);
}

/* NON AUTHORIZED */
.header-btns {
    font-family: Nunito;
    padding-right: 95px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.header-btns__login {
    font-family: Nunito;
    height: 45px;
    padding: 1px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    border-radius: var(--br-s, 10px);
    border: 2px solid var(--primary-30, #226B77);
    background: var(--bg-100, #FFF);

    color: var(--primary-30, #226B77);

    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-btns__login:hover {
    background: rgba(34, 107, 119, 0.50);
}

.header-btns__signup {
    font-family: Nunito;
    background-color: #226B77;
    color: #FFFFFF;
    width: 178px;
    height: 45px;
    padding: 1px 20px 1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-btns__signup:hover {
    background: rgba(34, 107, 119, 0.80);
}

.header-hidden {
    display: none;
}

.main-no-padding {
    padding-top: 0;
}

.nav-user {
    overflow: hidden;
    position: absolute;
    top: 80px;
    right: 200px;
    transform: translateY(0px);
    height: 125px;
    width: 150px;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    flex-shrink: 0;
}

.nav-user.nav-open {
    border-radius: var(--br-s, 10px);
}

.header__nav-user__btns {
    position: absolute;
    left: 0;
    display: flex;
    padding: 10px 10px 10px 10px;
    gap: 10px;
    flex-direction: column;
    transform: translateY(-1000px);
    opacity: 0;
    z-index: 1;
    transition: all 900ms cubic-bezier(.9, 0, .33, 1);

    border-radius: var(--br-s, 10px);
    border: 1px solid var(--primary-30, #226B77);
    background: rgba(255, 255, 255, 0.50);
}

.header__nav-user__btns.fade-in {
    opacity: 1;
    transform: translateY(0px);
}