.user {
    display: flex;
    /* width: 1435px; */
    flex-shrink: 0;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
}
  
.user__avatar {
  display: flex;
  position: relative;
  left: 50px;
  width: 120px;
  height: 162px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.user__avatar-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.user__avatar__username {
  color: #000;
  text-align: center;
}

.user__subscriptions {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  left: 150px;
  gap: var(--br-s, 10px);
}

.user__subscriptions-img {
  width: 30px;
  height: 30px;
}

.user__subscriptions-text {
  display: flex;
  width: 90px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  color: #000;
  text-align: left;
}

.user__data {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 200px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.user__data__names {
  display: flex;
  gap: 20px;
  width: 747px;
  justify-content: space-between;
}

.user__data__names-item {
  display: flex;
  width: 347px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.user__data__names-item-title {
  color: var(--bg50, #808080);
}

.user__data__names-item-data {
  display: flex;
  width: 347px;
  height: 46px;
}

.user__data__names-item-span {
  width: 347px;
  height: 46px;
  align-items: center;
  resize: none;
  outline: none;
  border-radius: var(--br-s, 10px);
  background: var(--bg-100, #FFF);
}

.user__data__about {
  display: flex;
  width: 747px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex-shrink: 0;
}

.user__data__about-title {
  color: var(--bg50, #808080);
}

.user__data__about-data{
  display: flex;
  width: 747px;
  height: 183px;
}

.user__data__about-span {
  width: 747px;
  height: 183px;
  align-items: center;
  resize: none;
  outline: none;
  border-radius: var(--br-s, 10px);
  background: var(--bg-100, #FFF);
}

.user__subscribe {
  position: relative;
  left: 230px;
  display: flex;
  width: 170px;
  height: 36.676px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.user__subscribe-btn {
  color: var(--primary-30, #226B77);
  text-align: center;
}

.user__unsubscribe-btn {
  color: var(--error-35, #AB1708);
  text-align: center;
}


.user__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user__btns {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.user__btn {
  cursor: pointer;
  color: var(--black-text, rgba(24, 24, 24, 0.87));
  text-align: center;
}

.user__btn-active {
  color: var(--primary-45, #33A1B3);
  text-align: center;
}

.btn-error-clear {
  border-radius: var(--br-s, 10px);
  border: 2px solid var(--error-35, #AB1708);
  background: var(--bg-100, #FFF);
}

.btn-error-clear:hover {
  background: var(--error-50, #F4210B);
}

.hide {
  display: none;
}
