.user {
    display: flex;
    min-width: 230px;
    flex-shrink: 0;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    gap: 1rem;
    padding: 1rem;
}

.user-begin {
  display: flex;
  gap: 1rem;
  align-items: center;
}
  
.user__avatar {
  display: flex;
  width: max(150px, 9vw);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
}

.user__avatar__chat-btn {
  height: auto;
  padding: 0 0.5rem;
  width: max(90px, 100%);
}

.user__avatar-img {
  width: max(90px, 100%);
  object-fit: cover;
  border-radius: 10px;
}

.user__avatar__username {
  color: #000;
  text-align: center;
}

.user__subscriptions {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--br-s, 10px);
}

.user__subscriptions-img {
  width: 30px;
  height: 30px;
}

.user__subscriptions-text {
  display: flex;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  color: #000;
  text-align: left;
}

.user__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.user__data__names {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
}

.user__data__names-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.user__data__names-item-title {
  color: var(--bg50, #808080);
}

.user__data__names-item-data {
  display: flex;
}

.user__data__names-item-span {
  align-items: center;
  resize: none;
  outline: none;
  border-radius: var(--br-s, 10px);
  background: var(--bg-100, #FFF);
}

.user__data__about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex-shrink: 0;
  width: 100%;
}

.user__data__about-title {
  color: var(--bg50, #808080);
}

.user__data__about-data{
  display: flex;
}

.user__data__about-span {
  align-items: center;
  resize: none;
  outline: none;
  border-radius: var(--br-s, 10px);
  background: var(--bg-100, #FFF);
}

.user__subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.user__subscribe-btn {
  padding: 0 0.5rem;
  color: var(--primary-30, #226B77);
  text-align: center;
}

.user__unsubscribe-btn {
  padding: 0 0.5rem;
  color: var(--error-35, #AB1708);
  text-align: center;
}


.user__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user__btns {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.user__btn {
  cursor: pointer;
  color: var(--black-text, rgba(24, 24, 24, 0.87));
  text-align: center;
}

.user__btn-active {
  color: var(--primary-45, #33A1B3);
  text-align: center;
}

.btn-error-clear {
  border-radius: var(--br-s, 10px);
  border: 2px solid var(--error-35, #AB1708);
  background: var(--bg-100, #FFF);
}

.btn-error-clear:hover {
  background: var(--error-50, #F4210B);
}

.hide {
  display: none;
}


@media (max-width: 1200px) {
  .user__data__names {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {

  .user {
      flex-direction: column;
  }

}