<div class="modal" id="confirmModal">
    <div class="modal-content">
        <p>Вы уверены, что хотите удалить этот пин?</p>
        <button class="btn-confirm" id="confirmYes">Да</button>
        <button class="btn-cancel" id="confirmCancel">Отмена</button>
    </div>
</div>
