.rectangle {
    display: flex;
    width: auto;
    border: 1px solid #000;
    border-radius: 15px;
    margin: 50px auto 0;
    height: 650px;
    box-shadow: 10px 8px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.open__gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px 0px 0px 14px;
}
  
.delete-button,
.save-button {
    font-family: Nunito;
    margin: 10px 0;
    padding: 0;
    display: block;
    max-width: 90%;
    margin-left: 20px;
}

.pin-username {
    cursor: pointer;
    display: block;
    max-width: 90%;
    margin-left: 20px;
}

.pin-comments_name{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.pin-comments-div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border: 2px solid;
    border-radius: 10px;
}

.pin-comments {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 130px;
    gap: 25px;
    padding: 10px;
}

.pin-comments__no_content_div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pin-comments__item {
    display: flex;
    align-items: center;
    gap: 40px;
}

.pin-comments__comment {
    display: flex;
    width: 300px;
    height: fit-content;
    flex-shrink: 0;
    overflow-wrap: anywhere;
    white-space: normal;
}

.pin-comments__user_info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pin-comments__user_info__avatar {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.pin-comments__input {
    display: flex;
    padding: 10px;
    border-top: 2px solid;
    justify-content: space-between;
}

.pin-comments__input_text {
    display: inline-flex;
    height: 30px;
    width: 90%;
    border-radius: var(--br-s, 10px);
    border: 2px solid var(--primary-30, #226B77);
    background: var(--bg-100, #FFF);
}

.pin-comments__input_text-input {
    all: unset;
    width: 100%;
    padding-left: 10px;
    color: var(--black-text, rgba(24, 24, 24, 0.87));
}

.pin-comments__input__send_message-img {
    cursor: pointer;
}


.pin-like-btn {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0px 15px 10px 0px;
    gap: 10px;
    bottom: 20px;
    right: 0;
}

.pin-like-counter {
    display: flex;
    height: 20px;
    align-items: center;
}
    
.pin-like-icon {    
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.saved {
    display: flex;
}

.board-list {
    margin: 20px 5px 25px 5px;
    border-radius: 10px;
}
  
.save-button {
    background-color: #226B77;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    width: 200px;
    height: 45px;
}

.delete-button {
    background-color: white;
    color: red;
    border: red;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    width: 100px;
    height: 45px;
}

.edit-button {
    font-size: 18px;
    padding: 18px 15px;
    cursor: pointer;
    width: 22px;
    height: 25px;
}

.block .labeled-input {
    padding: 8px 0px 0px 20px;
    color: var(--bg50, #808080);
}

.other__pins__title {
    font-family: Nunito;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.pin-edit-span-all {
    font-family: Nunito;
    height: 30px;
    font-size: 15px; 
    color: var(--error-50, #F4210B);
    text-align: left;
}

.pin-control {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    gap: 50px;
    padding: 80px 0px 0px 140px
}

.pin-edit-item {
    margin: 5px 0px 0px 15px;
    padding: 5px 5px;
    width: 472px;
    height: 56px;
    border: none;
    background: none;
    resize: none;
    outline: none;
    color: var(--black-text, rgba(24, 24, 24, 0.87));
}

.big-pin-edit-item {
    margin: 5px 0px 0px 15px;
    padding: 5px 5px;
    width: 472px;
    height: 100px;
    border: none;
    background: none;
    resize: none;
    outline: none;
    color: var(--black-text, rgba(24, 24, 24, 0.87));
}

.description__item-data {
    vertical-align: top;
    padding: 8px 0px 8px 8px;
    width: 472px;
    height: 200px;
    border: none;
    background: none;
    resize: none;
    outline: none;
    color: var(--black-text, rgba(24, 24, 24, 0.87));
}

.hide {
    display: none;
}

.input-read-only {
    border-radius: var(--br-s, 10px);
    border: 2px solid var(--primary-45, #FFFFFF);
    background: var(--bg-100, #FFF);
}

.input-primary {
    border-radius: var(--br-s, 10px);
    border: 2px solid var(--primary-45, #33A1B3);
    background: var(--bg-100, #FFF);
}

.js-pin-to-board__btn {
    margin: 10px 0;
    max-width: 90%;
    width: 200px;
    height: 45px
}

.btn-delete {
    cursor: pointer;
    width: 22px;
    height: 25px;
}

.btn-edit {
    cursor: pointer;
    width: 22px;
    height: 25px;
}

.edit-btn-block {
    font-size: 18px;
    padding: 18px 15px;
    width: 30px;
    height: 28px;
}

.delete-btn-block {
    font-size: 18px;
    padding: 18px 3px;
    width: 30px;
    height: 28px;
}

.user-block {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

@media only screen and (max-width: 968px) {
    .pin-comments-div {
        width: 350px;
    }
    
    .open__gallery__item {
        height: 900px;
    }
    .rectangle {
        display: flex;
        width: 400px;
        flex-direction: column;
        height: 900px;
        margin: 20px auto 0;
        border-radius: 10px;
    }

    .board-list {
        width: 90px;
    }

    .open__gallery__item img {
        border-radius: 10px 10px 0 0;
    }

    .block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .pin-like-btn {
        padding-left: 20px;
        padding-top: 5px;
        position: static;
        justify-content: center;
        margin-top: 5px;
    }

    .pin-username {
        cursor: pointer;
        display: block;
        max-width: 90%;
        margin-left: 20px;
    }

    .big-pin-edit-item {
        width: 472px;
        height: 26px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
    display: block;
}

.modal-content {
    background-color: #fefefe;
    margin: 360px auto 0;
    padding: 20px;
    border-radius: 15px;
    width: 40%;
    text-align: center;
}

.modal-content button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

#confirmDelete {
    background-color: #ff4f4f;
    color: white;
    border: none;
    cursor: pointer;
}

#cancelDelete {
    background-color: #d3d3d3;
    color: black;
    border: none;
    cursor: pointer;
}

#confirmDelete:hover {
    background-color: #e30505;
    color: white;
    border: none;
    cursor: pointer;
}

#cancelDelete:hover {
    background-color: #adadad;
    color: black;
    border: none;
    cursor: pointer;
}

.share-btn-block {
    font-size: 18px;
    padding: 18px 13px;
    width: 30px;
    height: 28px;
}

.btn-share {
    cursor: pointer;
    width: 23px;
    height: 25px
}

.icons {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

.social-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.js-search__btn {
    width: 138px
}

.link-conteiner {
    border-radius: 5px;
    height: 36px;
}

.modal-content header span {
    font-weight: bold;
}
