<div>
    <div class="rectangle">
        <div class="gallery__item js-pin-id-{{id}}">
            <img src="{{src}}" width="200"/>
        </div>
        <div class="block">
            <div class="saved"></div>
            <img src="https://pinspire.online:1445/assets/icons/headerDefaultAvatar.svg.svg" class="ava-pin"/>
            <span class="pin-username">{{username}}</span>
            <span class="pin-description">{{description}}</span>
        </div>
    </div>
</div>
