<div>
    <div class="rectangle">
        <div class="gallery__item js-pin-id-{{id}}">
            <img src="{{src}}" width="200"/>
        </div>
        <div class="block">
            <span class="pin-username">{{username}}</span>
            <span class="pin-description">{{description}}</span>
        </div>
    </div>
</div>
