<div class="messenger__chat__message-item-companion">
    <div class="messenger__chat__message-item-companion-text">
        <span class="messenger__chat__message-item__text text-base2-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ligula erat, vulputate ut quam eu, malesuada porta.</span>
    </div>
</div>