<div class="messenger__chat__message-item-companion">
    <div class="messenger__chat__message-item-companion-text">
        <span class="messenger__chat__message-item__text text-base2-medium">{{message}}</span>
    </div>
</div>
