 <div class="messenger__chat__message-item-my" data-section="request-id-{{requestID}}" data-message-id="{{messageID}}">
    <div class="messenger__chat__message-item-my__text">
        <span class="messenger__chat__message-item__text text-base2-medium">{{message}}</span>
        <div class="messenger__chat__message-item-my__indicator">
            <img src="/assets/icons/forMessenger/icon_{{status}}_message.svg" class="messenger__chat__message-item-my__indicator-img">
        </div>
    </div>

    <div class="messenger__chat__message-item-my__buttons">
        <div class="messenger__chat__message-item__buttons hide">
            <img src="/assets/icons/forMessenger/icon_edit_message.svg" class="messenger__chat__message-item__button-edit">
            <img src="/assets/icons/forMessenger/icon_delete_message.svg" class="messenger__chat__message-item__button-delete">
        </div>
    </div>
</div>
