<div class="page">
  <button class="cancel-button"><img src="/assets/icons/actions/cancel.svg"></button>
  <img class="ibackground" src="/assets/img/image_1.png">
  <div class="form-container">
    <form class="input-container">
      <h4 class="registration-title text-h4-medium">Регистрация в PinSpire</h4>
      <div class="input-username">
        <label for="username" class="labeled-input">Имя пользователя</label>
        <input type="text" class="auth__item-data text-base2-medium input-primary" id="username" placeholder="username">
        <span class="username-error-message primary-error-message"></span>
      </div>
      <div class="input-email">
        <label for="email" class="labeled-input">Почта</label>
        <input type="email" class="auth__item-data text-base2-medium input-primary" id="email" placeholder="pinspire@mail.ru">
        <span class="email-error-message primary-error-message"></span>
      </div>
      <div class="input-password">
        <label for="password" class="labeled-input">Пароль</label>
        <input type="password" class="auth__item-data text-base2-medium input-primary" id="password" placeholder="●●●●●●●●●●●●">
        <span class="password-error-message primary-error-message"></span>
      </div>
      <div class="input-password">
        <label for="password" class="labeled-input">Повторить пароль</label>
        <input type="password" class="auth__item-data text-base2-medium input-primary" id="repeat-password" placeholder="●●●●●●●●●●●●">
        <span class="repeat-password-error-message primary-error-message"></span>
        <span class="wrong-data-error-message primary-error-message"></span>
      </div>
      <button class="form-btn-primary-default text-base1-medium form__button" type="submit">Создать аккаунт</button>
      <p class="already-registered text-base2-medium">
        Уже есть аккаунт? <a href="#" class="open-btn">Войти</a>
      </p>
    </form>
  </div>
</div>
