<div class="page">
    {{#if mobile}}
        <button class="cancel-button">
            <img src="/assets/icons/actions/cancel.svg" alt="Cancel">
        </button>
        <div class="mobile-form-container">
            <form class="mobile-input-container">
                <div>
                    <img src="/assets/icons/actions/main-logo.svg" alt="Main Logo">
                </div>
                <h4 class="registration-title text-h4-medium">Регистрация в PinSpire</h4>
                <div class="mobile-input-username">
                    <label for="username" class="labeled-input">Имя пользователя</label>
                    <input type="text" id="username" class="auth__item-data text-base2-medium input-primary" placeholder="Введите имя пользователя">
                    <span class="username-error-message primary-error-message"></span>
                </div>
                <div class="mobile-input-username">
                    <label for="email" class="labeled-input">Почта</label>
                    <input type="email" class="auth__item-data text-base2-medium input-primary" id="email" placeholder="Введите почту">
                    <span class="email-error-message primary-error-message"></span>
                </div>
                <div class="mobile-input-password">
                    <label for="password" class="labeled-input">Пароль</label>
                    <input type="password" id="password" class="auth__item-data text-base2-medium input-primary"  placeholder="Введите пароль">
                    <span class="password-error-message primary-error-message"></span>
                    <span class="wrong-data-error-message primary-error-message"></span>
                </div>
                <div class="mobile-input-password">
                    <label for="password" class="labeled-input">Повтор пароля</label>
                    <input type="password" class="auth__item-data text-base2-medium input-primary" id="repeat-password" placeholder="Повторите пароль">
                    <span class="repeat-password-error-message primary-error-message"></span>
                    <span class="wrong-data-error-message primary-error-message"></span>
                </div>
                <button class="form-btn-primary-default text-base1-medium form__button" type="submit">Создать аккаунт</button>
                <p class="already-registered text-base2-medium">
                  Уже есть аккаунт? <a href="#" class="open-btn">Войти</a>
                </p>
            </form>
        </div>
    {{else}}
    <button class="cancel-button"><img src="/assets/icons/actions/cancel.svg"></button>
    <img class="ibackground" src="/assets/img/image_1.png">
    <div class="form-container">
      <form class="input-container">
        <div>
          <img src="/assets/icons/actions/main-logo.svg" alt="Main Logo">
        </div>
        <h4 class="registration-title text-h4-medium">Регистрация в PinSpire</h4>
        <div class="input-username">
          <label for="username" class="labeled-input">Имя пользователя</label>
          <input type="text" class="auth__item-data text-base2-medium input-primary" id="username" placeholder="Введите имя пользователя">
          <span class="username-error-message primary-error-message"></span>
        </div>
        <div class="input-email">
          <label for="email" class="labeled-input">Почта</label>
          <input type="email" class="auth__item-data text-base2-medium input-primary" id="email" placeholder="Введите почту">
          <span class="email-error-message primary-error-message"></span>
        </div>
        <div class="input-password">
          <label for="password" class="labeled-input">Пароль</label>
          <input type="password" class="auth__item-data text-base2-medium input-primary" id="password" placeholder="Введите пароль">
          <span class="password-error-message primary-error-message"></span>
        </div>
        <div class="input-password">
          <label for="password" class="labeled-input">Повтор пароля</label>
          <input type="password" class="auth__item-data text-base2-medium input-primary" id="repeat-password" placeholder="Повторите пароль">
          <span class="repeat-password-error-message primary-error-message"></span>
          <span class="wrong-data-error-message primary-error-message"></span>
        </div>
        <button class="form-btn-primary-default text-base1-medium form__button" type="submit">Создать аккаунт</button>
        <p class="already-registered text-base2-medium">
          Уже есть аккаунт? <a href="#" class="open-btn">Войти</a>
        </p>
      </form>
    </div>
  {{/if}}
</div>
