<div class="rectangle">
    <span>Создание пина</span>
    <div class="input-title">
        <label for="title" class="labeled-input">Название</label>
        <input type="text" id="title" placeholder="Введите название пина">
    </div>
    <div class="input-description">
        <label for="description" class="labeled-input">Описание</label>
        <input type="text" id="title" placeholder="Введите описание пина">
    </div>
    <div>
        <button class="cancel-button">Отмена</button>
        <button class="create-button">Создать</button>
    </div>
</div>