<div class="rectangle">
    <div class="gallery__item js-pin-id-{{id}}">
        <img src="{{src}}" width="200"/>
    </div>
    <div>
        <button class="save-button">Прикрепить на доску</button>
        <span class="pin-username">{{author.username}}</span>
        <span class="pin-discription">{{description}}</span>
    </div>
</div>
