<div class="pin-page">
    <button class="cancel-button">
        <img src="./static/svg/cancel.svg">
    </button>
    <div class="rectangle">
        <div class="gallery__item js-pin-id-{{id}}">
            <img src="{{src}}" width="200"/>
        </div>
        <div>
            <button class="save-button">Прикрепить на доску</button>
            <span class="pin-username">{{username}}</span>
            <span class="pin-description">{{description}}</span>
        </div>
    </div>
</div>
