<div class="statistics">
  <span class="statistics__title text-h4-medium">Где пользователи узнали о нашем приложении</span>
  <div class="statistics__content">
    <canvas width="400" height="500" id="canvas"></canvas>
  </div>
</span>