<div class="gallery__item js-pin-id-{{id}}">
    <img src="{{src}}"/>
    <div class="like-button">
        <img src="/assets/icons/like.svg" alt="Like" class="like-icon js-like-button-{{id}}">
        <div class="like-counter like-counter-{{id}} text-base1-medium"></span>
    </div>
</div>
