<div class="gallery__item js-pin-id-{{id}}">
    <img src="{{src}}"/>
    <div class="like-button">
        <img src="/assets/icons/like.svg" alt="Like" class="like-icon js-like-button-{{id}}">
    </div>
    <div class="like-counter-{{id}}"></span>
</div>