<div class="profile-user">
  <div class="profile-user__avatar">
    <img src="https://pinspire.online:1444/assets/icons/headerDefaultAvatar.svg" class="profile-user__avatar-img">
    <div class="profile-user__avatar__username text-base1-medium">
      @Pupkin
    </div>
  </div>
  <button class="btn-primary-clear profile-user__change-cover-btn"> 
    <div class="profile-user__change-cover-btn-text text-base1-medium">
      Изменить обложку 
    </div>
  </button>
</div>