<div class="profile-user">
  <div class="profile-user__avatar">
    <img src="/assets/icons/headerDefaultAvatar.svg" class="profile-user__avatar-img">
    <div class="profile-user__avatar__username text-base1-medium">
      {{username}}
    </div>
  </div>
</div>