<div class="intro">
  <div class="intro__img">
    <img src="/static/svg/intro_img.svg">
  </div>
  <div class="intro__text text-base1-regular">
    Приветствуем вас на нашем сайте, где вы можете найти бесконечное количество идей и вдохновения для вашего творчества.
  </div>
</div>