.intro {
    display: flex;
    width: 70vw;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
}
  
.intro__text {
    display: flex;
    width: 25vw;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--black-text, rgba(24, 24, 24, 0.87));
}
  
.intro__img-img {
    width: 30vw;
}

@media (max-width: 900px) {
    .intro {
        display: none;
    }
  }