<div class="rectangle-board-open" id="board-rectangle">
    <div class="bar">
        <span class="title-board-open">{{title}}</span>
    </div>
    <div сlass="block">
        <label for="description-board-open" class="labeled-input-open">Описание</label>
        <span class="description-board-open">{{description}}</span>
    </div>
    <hr class="grey-line">
    <section id="board-pins" class="gallery"></section>
    <hr class="grey-line">
</div>
