<div class="rectangle-add" id="pin-rectangle">
    <span class="title-add">{{title}}</span>
    <hr class="grey-line">
    <div class="forms">
        <section id="pins" class="gallery"></section>
    </div>
    <hr class="grey-line">
</div>
