<div class="rectangle-add" id="pin-rectangle">
    
    <hr class="grey-line">
    <div class="forms">
        <section id="pins" class="gallery"></section>
    </div>
    <hr class="grey-line">
</div>
