<div class="rectangle-add" id="pin-rectangle">
    <span class="title-add">{{title}}</span>
    <button class="delete-button">Удалить</button>
    <img src="https://pinspire.online:1445/assets/icons/actions/icon_edit.svg" class="edit-button">
    <hr class="grey-line">
    <div class="forms">
        <section id="pins" class="gallery"></section>
    </div>
    <hr class="grey-line">
</div>
