<div class="rectangle-board-open" id="board-rectangle">
    <div class="bar">
        <span class="title-board-open">{{title}}</span>
    </div>
    <div>
        <label for="pin-description" class="labeled-input">Описание</label>
        <span class="pin-description">{{description}}</span>
    </div>
    <hr class="grey-line">
    <div class="forms">
        <section id="pins" class="gallery"></section>
    </div>
    <hr class="grey-line">
</div>
