<div class="rectangle-board-open" id="board-rectangle">
    <div class="bar">
        <textarea disabled class="board-title input-read-only text-base1-small board-edit-item">{{title}}</textarea>
    </div>
    <div сlass="block">
        <label for="pin-description" class="labeled-input-open">Описание</label>
        <textarea disabled class="board-description input-read-only text-base1-small board-edit-item">{{description}}</textarea>
    </div>
    <span class="board-edit-span-all"></span>
        <div class="board-control hide">
        <button class="btn-primary-clear text-base1-medium board-control__cancel-btn">Отмена</button>
        <button class="btn-primary-default text-base1-medium board-control__save-btn">Сохранить</button>
    </div>
    <hr class="grey-line">
    <section id="board-pins" class="gallery"></section>
    <hr class="grey-line">
</div>
