<div class="rectangle-board-open" id="board-rectangle">
    <div class="bar">
        <textarea disabled class="board-title input-read-only text-base1-medium pin-edit-item">{{title}}</textarea>
        <div class="buttons__block">
            <div class="delete-btn-block">
                <img src="/assets/icons/actions/icon_delete.svg" class="btn-delete js-delete__btn">
            </div>
            <div class="edit-btn-block">
                <img disabled src="/assets/icons/actions/icon_edit.svg" class="btn-edit js-edit__btn">
            </div>
        </div>
    </div>
    <div сlass="block">
        <label for="pin-description" class="labeled-input-open">Описание</label>
        <textarea disabled class="pin-description input-read-only text-base1-small pin-edit-item">{{description}}</textarea>
    </div>
    <span class="pin-edit-span-all"></span>
        <div class="pin-control hide">
        <button class="btn-primary-clear text-base1-medium pin-control__cansel-btn">Отмена</button>
        <button class="btn-primary-default text-base1-medium pin-control__save-btn">Сохранить</button>
    </div>
    <hr class="grey-line">
    <section id="board-pins" class="gallery"></section>
    <hr class="grey-line">
</div>
