<div class="profile-data">
    <div class="profile-data__page-name">
        Data
    </div>
    <div class="profile-data__username">
        {{username}}
    </div>
    <div class="profile-data__avatar">
        <img src={{avatar}} alt="avatar">
    </div>
    <div class="profile-data__name">
        {{name}}
    </div>
    <div class="profile-data__surname">
        {{surname}}
    </div>
</div>