<div class="profile-security">
    <div class="profile-security__page-name">
        Security
    </div>
    <div class="profile-data__mail">
        {{mail}}
    </div>
    <div class="profile-data__password">
        Write password
    </div>
    <div class="profile-data__password-repeat">
        Write password again
    </div>
</div>