<div class="profile-user">
    <div class="profile-user__username">
        {{username}}
    </div>
    <div class="profile-user__avatar">
        <img src={{avatar}} alt="Аватарка">
    </div>
    <div class="profile-user__media">
        <div class="profile-user__media__menu">
            <div class="profile-user__media__menu">
                Pins Boards
            </div>
        </div>
        <div class="profile-user__media__content">
        </div>
    </div>
</div>