<div class="profile-data">
    <div class="profile-data__page-name">
        Data
    </div>
    <div class="profile-data__btns">
        <button class="profile-data__edit-btn js-profile-data__edit-btn">Изменить</button>
        <button class="profile-data__cansel-btn js-profile-data__cansel-btn">Отменить</button>
        <button class="profile-data__save-btn js-profile-data__save-btn">Сохранить</button>
    </div>
    <div class="profile-data__username">
        <label for="username" class="labeled-input">Имя пользователя</label>
        <input disabled type="text" id="username" value={{username}}>
    </div>
    <div class="profile-data__avatar">
        <img src="{{avatar}}" alt="avatar">
        <form method="PUT" enctype="multipart/form-data">
            <input type="file" name="avatar" id="avatar" accept="image/*"><br>
            <input type="submit" value="Отправить">
        </form>
    </div>
    <div class="profile-data__name">
        <label for="name" class="labeled-input">Имя</label>
        <input disabled type="text" id="name" value={{name}}>
    </div>
    <div class="profile-data__surname">
        <label for="surname" class="labeled-input">Фамилия</label>
        <input disabled type="text" id="surname" value={{surname}}>
    </div>
</div>