<div class="profile">
    <div class="profile__menu">
        <button class="btn-primary-default profile__menu__user-btn js-profile__menu__user-btn">Профиль</button>
        <button class="btn-primary-default profile__menu__data-btn js-profile__menu__data-btn">Данные</button>
        <button class="btn-primary-default profile__menu__security-btn js-profile__menu__security-btn">Безопасность</button>
    </div>
    <div class="profile__page js-profile__page">
    </div>
</div>