<div class="profile">
    <div class="profile__menu">
        <h2>Профиль</h2>
        <h2>Данные</h2>
        <h2>Безопасность</h2>
    </div>
    <div class="profile__page">
        {{ PfofilePage profilePageContext }}
    </div>
</div>