<div class="profile-security">
    <div class="profile-security__page-name">
        Security
    </div>
    <div class="profile-security__btns">
        <button class="profile-security__edit-btn js-profile-security__edit-btn">Изменить</button>
        <button class="profile-security__cansel-btn js-profile-security__cansel-btn">Отменить</button>
        <button class="profile-security__save-btn js-profile-security__save-btn">Сохранить</button>
    </div>
    <div class="profile-security__mail">
        <label for="email;" class="labeled-input">Почта</label>
        <input type="email" id="email" value={{email}}>
    </div>
    <div class="profile-security__password">
        <label for="password" class="labeled-input">Пароль</label>
        <input type="password" id="password" placeholder="●●●●●●●●●●●●">
    </div>
    <div class="profile-security__password-repeat">
        <label for="password-repeat" class="labeled-input">Пароль</label>
        <input type="password" id="password-repeat" placeholder="●●●●●●●●●●●●">
    </div>
</div>