@import url(./assets/components/buttons/primary/btnPrimary.css);
@import url(./views/Authorization/form.css);
@import url(./views/Feed/Feed.css);
@import url(./views/Feed/Gallery.css);
@import url(./views/HeaderDefault/headerDefault.css);
@import url(./views/HeaderGuest/headerGuest.css);
@import url(./views/Sidebar/sidebar.css);
@import url(./views/ProfileUser/profileUser.css);
@import url(./views/ProfileData/profileData.css);
@import url(./views/ProfileSecurity/profileSecurity.css);
@import url(./views/Intro/intro.css);
@import url(./views/CreatePin/createPin.css);
@import url(./views/PinPage/pinPage.css);
@import url(./views/CreateBoard/createBoard.css);
@import url(./views/UserBoards/userBoards.css);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
