@import './assets/components/buttons/primary/btnPrimary';
@import './assets/components/buttons/primary/fontsPrimary';
@import './views/Authorization/form';
@import './views/Feed/Feed';
@import './views/Feed/Gallery';
@import './views/HeaderDefault/headerDefault';
@import './views/HeaderGuest/headerGuest';
@import './views/Sidebar/sidebar';
@import './views/ProfileUser/profileUser';
@import './views/ProfileData/profileData';
@import './views/ProfileSecurity/profileSecurity';
@import './views/Intro/intro';
@import './views/CreatePin/createPin';
@import './views/PinPage/pinPage';
@import './views/CreateBoard/createBoard';
@import './views/UserBoards/userBoards';
@import './views/Favourite/favourite';
@import './views/Page404/page404';
@import './views/AddPins/addPins';
@import './views/BoardPage/boardPage';
@import './views/NonContentNotification/nonContentNotification';
@import './views/Subscriptions/subscriptions';
@import './views/Messenger/messenger';
@import './views/UserPage/userPage';

html, body {
  --bg50: #808080;
  --bg-90: #E6E6E6;
  --primary-30: #226B77;
  height: 100%;
  margin: 0;
  padding: 0;
}
