@import url(./assets/components/buttons/primary/btnPrimary.css);
@import url(./views/Authorization/form.css);
@import url(./views/Feed/Feed.css);
@import url(./views/Feed/Gallery.css);
@import url(./views/HeaderDefault/headerDefault.css);
@import url(./views/Sidebar/sidebar.css);
@import url(./views/ProfileUser/profileUser.css);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
