.ibackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.form-container {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 70px;
}

.input-container {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.labeled-input {
    font-family: Nunito;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__button {
    width: 410px;
    height: 45px;
}

.cancel-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 35px;
    height: 35px;
    z-index: 9999;
}

.input-error input {
    border-color: var(--error-50, #F4210B);
    color: var(--error-50, #F4210B);
}

.input-error .error-message {
    display: block;
    color: var(--error-50, #F4210B);
}

.already-registered {
    display: flex;
    gap: 5px;
}

.input-username {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-email {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-password {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hide {
    display: none;
}

.auth__item-data {
    margin: 5px 0px 0px 0px;
    width: 400px;
    height: 25px;
    padding: 8px 0px 8px 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}

.open-btn {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.primary-error-message {
    font-family: Nunito;
    font-size: 15px;
    color: var(--error-50, #F4210B);
    text-align: left;
    min-height: 25px;
    min-width: 410px;
}

.form-btn-primary-default {
    display: flex;
    width: 410px;
    height: 44px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--br-s, 10px);
    border: 2px solid var(--primary-30);
    color: var(--bg-100, #FFF);
    text-align: center;
    background: var(--primary-30, #226B77);
    cursor: pointer;
}

.form-btn-primary-default:hover {
    display: flex;
    width: 410px;
    height: 44px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--br-s, 10px);
    border: 2px solid var(--primary-30);
    color: var(--bg-100, #FFF);
    text-align: center;
    background: var(--primary-45, #33A1B3);
    cursor: pointer;
}

.auth-title,
.registration-title {
    margin: 15px;
}

.mobile-form-container {
    background: white;
    width: auto;
    height: 100%;
    display: flex;
}