<div class="profile-security js-profile-data">
  <div class="profile-security__content">
    <div class="profile-security__avatar">
      <img src="{{avatar}}" class="profile-security__avatar-img">
    </div>
    <div class="profile-security__line"></div>
    <div class="profile-security__data">
      <div class="profile-security__data-fields">
        <div class="profile-security__data-item profile-security__data-mail">
          <div class="profile-security__data-item-title profile-security__data-mail-title text-base2-medium">Почта</div>
          <div class="profile-security__data-item-data profile-security__data-item-input js-profile-security__data-mail-data input-disabled text-base1-medium">
            <textarea disabled class="profile-security__data-item-textarea js-mail-textarea text-base1-medium">{{email}}</textarea>
          </div>
          <span class="profile-security__email-span profile-security-span-all"></span>
        </div>
        <div class="profile-security__data-item profile-security__data-password hide">
          <div class="profile-security__data-item-title profile-security__data-password-title text-base2-medium">Пароль</div>
          <div class="profile-security__data-item-data js-profile-security__data-password-data input-disabled text-base1-medium">
            <input type="password" disabled class="profile-security__data-item-input js-password-textarea text-base1-medium"></input>
          </div>
          <span class="profile-security__password-span profile-security-span-all"></span>
        </div>
        <div class="profile-security__data-item profile-security__data-password-repeat hide">
          <div class="profile-security__data-item-title profile-security__data-password-repeat-title text-base2-medium">Повторите пароль</div>
          <div class="profile-security__data-item-data js-profile-security__data-password-repeat-data input-disabled text-base1-medium">
            <input type="password" disabled class="profile-security__data-item-input js-password-repeat-textarea text-base1-medium"></input>
          </div>
          <span class="profile-security__password-repeat-span profile-security-span-all"></span>
        </div>
      </div>
      <span class="profile-security-span hide profile-security-span-all"></span>
    </div>
  </div>
  <div class="profile-security__control">
    <div class="profile-security__control__line"></div>
    <div class="profile-security__change">
      <button class="btn-primary-default text-base1-medium profile-security__btn-change js-profile-security__btn-change">Сменить почту или пароль</button>
    </div>
     <div class="profile-security__save hide">
      <button class="btn-primary-clear text-base1-medium profile-security__btns__cansel-btn js-profile-security__btns__cansel-btn">Отмена</button>
      <button class="btn-primary-default text-base1-medium profile-security__btns__save-btn js-profile-security__btns__save-btn">
         Сохранить
      </button>
    </div>
  </div>
</div>