.profile-security {
    width: 1503px;
    height: 346px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
}

.profile-security__content {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 1503px;
    height: 255px;
    justify-content: center;
    align-items: center;
}

.profile-security__avatar {
    display: flex;
    position: absolute;
    left: 78px;
    width: 120px;
    height: 122px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.profile-security__avatar-img {
    width: 120px;
    height: 120px;
}

.profile-security__line {
    position: absolute;
    top: -1px;
    left: 270px;
    display: flex;
    width: 0.1px;
    height: 245px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 2px solid var(--bg-85, #D9D9D9);
}

.profile-security__data {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 1076px;
    height: 346px;
    left: 271px;
    padding: 0 78px 0 78px;
}

.profile-security__data-fields {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.profile-security__data-item {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.profile-security__data-item-title {
    color: var(--bg50, #808080);
}

.profile-security__data-item-data {
    display: flex;
    width: 272px;
    height: 46px;
}

.profile-security__data-item-textarea {
    width: 272px;
    height: 46px;
    border: none;
    background: none;
    resize: none;
    outline: none;
    color: var(--black-text, rgba(24, 24, 24, 0.87));
}

.profile-security__data-item-input {
    width: 272px;
    height: 46px;
    border: none;
    background: none;
    resize: none;
    outline: none;
    color: var(--black-text, rgba(24, 24, 24, 0.87));
}

.profile-security__data-item-input:focus {
    outline: none;
}

.profile-security__control {
    position: relative;
    top: -10px;
    left: -8px;
    display: flex;
    width: 1503px;
    height: 91px;
    justify-content: center;
    align-items: center;
}

.profile-security__control__line {
    display: flex;
    width: 1500px;
    height: 0.1px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 8px;
    border: 2px solid var(--bg-85, #D9D9D9);
}

.profile-security__change {
    display: flex;
    width: 338px;
    height: 40px;
}

.profile-security__btn-change{
    display: flex;
    width: 338px;
    height: 100%;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: var(--bg-100, #FFF);
    text-align: center;
}

.profile-security__save {
    display: inline-flex;
    align-items: flex-start;
    height: 40px;
    gap: 20px;
}

.profile-security__btns__cansel-btn {
    display: flex;
    width: 135px;
    height: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--primary-30, #226B77);
    text-align: center;
}

.profile-security__btns__save-btn {
    display: flex;
    width: 175px;
    height: 40px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--bg-100, #FFF);
    text-align: center;
}


.input-read-only {
    border-radius: var(--br-s, 10px);
    border: 2px solid var(--primary-45, #FFFFFF);
    background: var(--bg-100, #FFF);
}

.input-primary {
    border-radius: var(--br-s, 10px);
    border: 2px solid var(--primary-45, #33A1B3);
    background: var(--bg-100, #FFF);
}

.btn-primary-clear {
    border-radius: var(--br-s, 10px);
    border: 2px solid var(--primary-30, #226B77);
    background: var(--bg-100, #FFF);
}

.btn-primary-default {
    border-radius: var(--br-s, 10px);
    background: var(--primary-30, #226B77);
    border: 2px solid var(--primary-30, #226B77);
}

.hide {
    display: none;
}

.text-base1-medium {
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-base2-medium {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
