.profile-security {
    display: flex;
    flex-direction: column;
    width: 60vw;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
    padding: 2rem;
    gap: 1rem;
}

.profile-security__content {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.profile-security__avatar {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.profile-security__avatar-img {
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.profile-security__line {
    display: flex;
    height: 100%;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 2px solid var(--bg-85, #D9D9D9);
}

.profile-security__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.profile-security__data-fields {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}

.profile-security__data-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-security__data-item-title {
    color: var(--bg50, #808080);
}

.profile-security__data-item-data {
    display: flex;
    height: 46px;
}

.profile-security__data-item-textarea {
    width: 100%;
    border: none;
    background: none;
    resize: none;
    outline: none;
    color: var(--black-text, rgba(24, 24, 24, 0.87));
}

.profile-security__data-item-input {
    width: max(200px, 14vw);
    height: 46px;
    border: none;
    background: none;
    resize: none;
    outline: none;
    color: var(--black-text, rgba(24, 24, 24, 0.87));
}

.profile-security__data-item-input:focus {
    outline: none;
}

.profile-security__control {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profile-security__control__line {
    display: flex;
    width: 100%;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 2px solid var(--bg-85, #D9D9D9);
}

.profile-security__change {
    display: flex;
}

.profile-security__btn-change{
    display: flex;
    width: 350px;
    height: 100%;
    padding: 0 0.5rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: var(--bg-100, #FFF);
    text-align: center;
}

.profile-security__save {
    display: inline-flex;
    align-items: flex-start;
    height: 40px;
    gap: 20px;
}

.profile-security__btns__cansel-btn {
    display: flex;
    width: 135px;
    height: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--primary-30, #226B77);
    text-align: center;
}

.profile-security__btns__save-btn {
    display: flex;
    width: 175px;
    height: 40px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--bg-100, #FFF);
    text-align: center;
}

.profile-security-span {
    width: max(200px, 40vw);
    text-align: center;
}

.profile-security__email-span {
    width: max(200px, 14vw);
    text-align: left;

}

.profile-security__password-span {
    width: max(200px, 14vw);

    text-align: left;
}

.profile-security__password-repeat-span{
    width: max(200px, 14vw);
    text-align: left;
    
}

.profile-security-span-all {
    font-family: Nunito;
    height: 40px;
    font-size: 15px; 
    color: var(--error-50, #F4210B);
}

.input-primary {
    border-radius: var(--br-s, 10px);
    border: 2px solid var(--primary-45, #33A1B3);
    background: var(--bg-100, #FFF);
}

.hide {
    display: none;
}



@media (max-width: 1400px) {
    .profile-security__data-fields {
        flex-direction: column;
    }

    .profile-security__content {
        gap: 7vw;
        justify-content: center;
    }

    .profile-security-span {
        width: 200px;
    }

    .profile-security__btn-change {
        width: max(200px, 25vw);
    }

}

@media (max-width: 700px) {
    .profile-security__content {
        flex-direction: column;
    }

    .profile-security__line {
        display: none;
    }
}