.header__item {
    color: #6b009d;
}

.header-logout-btn {
    display: flex;
    height: 46px;
    width: 107px;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    color: var(--bg-100, #FFF);
    text-align: center;

    /* text base1 medium */
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: var(--br-s, 10px);
    background: var(--primary-30, #226B77);
}
